@import url(../css/fonts.css);
.header {
  padding-top: 35px;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  position: relative;
}

.container-fluid {
  padding: 0;
}

.logo-b__link {
  min-width: 238px;
  min-height: 93px;
  display: inline-block;
  font-size: 0;
}

.logo-b__ico-purple {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -369px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 93px;
  width: 238px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .logo-b__ico-purple {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -369px;
    height: 93px;
    width: 238px;
  }
}

.logo-b__ico-white {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -467px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 93px;
  width: 238px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .logo-b__ico-white {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -467px;
    height: 93px;
    width: 238px;
  }
}

.logo-b__copyright {
  padding: 10px 0 0 70px;
  font-family: EtelkaReg;
  color: #fff;
}

.service-b {
  font-size: 0;
}

.ico {
  display: inline-block !important;
}

.ico-tel {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -953px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 55px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .ico-tel {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -953px;
    height: 55px;
    width: 30px;
  }
}

.ico-magnifier {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -565px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 27px;
  width: 27px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .ico-magnifier {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -565px;
    height: 27px;
    width: 27px;
  }
}

.ico-property {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -802px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 110px;
  width: 110px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .ico-property {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -802px;
    height: 110px;
    width: 110px;
  }
}

.ico-fifty-fifty {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -148px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 110px;
  width: 110px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .ico-fifty-fifty {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -148px;
    height: 110px;
    width: 110px;
  }
}

.ico-percents {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -687px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 110px;
  width: 110px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .ico-percents {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -687px;
    height: 110px;
    width: 110px;
  }
}

.ico-calendar {
  margin-right: 10px;
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -23px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .ico-calendar {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -23px;
    height: 16px;
    width: 15px;
  }
}

.tel-b {
  padding: 20px 30px 0 30px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.tel-b__ico-wrap {
  margin: 5px 10px 0 0;
  display: inline-block;
  vertical-align: top;
}

.tel-b__links {
  display: inline-block;
  vertical-align: middle;
}

.tel-b__number {
  display: block;
  font-family: EtelkaReg;
  font-size: 30px;
  line-height: 36px;
  color: #37329d;
  transition: 0.5s ease 0s;
}
.tel-b__number:hover {
  color: #839fcc;
  text-decoration: none;
}

.search-b {
  padding: 10px 30px 0 30px;
  display: inline-block;
  vertical-align: top;
}

.search-b__entry-field-wrap {
  position: relative;
}

.search-b__entry-field {
  min-height: 38px;
  padding-right: 35px;
  border: 1px solid #3073b6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #828282;
}

.search-b__btn {
  border: none;
  background: none;
  outline: none;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 10px;
}

.links-b {
  max-width: 220px;
  padding: 10px 0 0 35px;
  display: inline-block;
  vertical-align: top;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-default {
  min-height: 80px;
  height: auto;
  margin: 0;
  position: relative;
  z-index: 10;
}
.navbar-default .navbar-collapse {
  position: relative;
}
.navbar-default .navbar-toggle {
  width: 44px;
  height: 44px;
  margin-top: 18px;
  border-color: #fff;
  position: relative;
  z-index: 2;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus {
  background: #839fcc;
}
.navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus {
  background: #371794;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-default .navbar-nav > li > .menu__link {
  height: 100%;
  padding: 0;
  display: block;
  font-family: EtelkaReg;
  font-size: 17px;
  font-weight: normal;
  line-height: 38px;
  color: #fff;
}
.navbar-default .navbar-nav > li > .menu__link:hover {
  color: #371794;
}
.navbar-default .navbar-nav > li > .menu__link_right {
  font-size: 20px;
  position: relative;
}
.navbar-default .navbar-nav > li > .menu__link_right:hover {
  color: #839fcc;
}

.menu__item-left {
  height: 80px;
  padding: 20px 17px;
  position: relative;
}
.menu__item-left:before {
  width: 2px;
  height: 56px;
  margin-top: -28px;
  background: #3c84cc;
  border-right: 1px solid #2d6baa;
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
}
.menu__item-left:last-child:after {
  width: 2px;
  height: 56px;
  margin-top: -28px;
  background: #3c84cc;
  border-right: 1px solid #2d6baa;
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
}

.menu__list-right {
  margin: 0;
}

.menu__item-right {
  height: 80px;
  padding: 20px;
  position: relative;
}
.menu__item-right:before {
  width: 270px;
  height: 90px;
  margin-top: -45px;
  background: #37329d;
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
}

.menu__ico-wrap {
  height: 100%;
  width: 30px;
  margin-right: 15px;
  float: left;
  text-align: center;
}

.menu__ico {
  vertical-align: middle;
}

.menu__ico-home {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -300px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 27px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .menu__ico-home {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -300px;
    height: 27px;
    width: 30px;
  }
}

.menu__ico-doc {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -81px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 25px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .menu__ico-doc {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -81px;
    height: 25px;
    width: 22px;
  }
}

.menu__ico-man {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -658px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .menu__ico-man {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -658px;
    height: 24px;
    width: 26px;
  }
}

.menu__ico-mail {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -634px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 19px;
  width: 29px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .menu__ico-mail {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -634px;
    height: 19px;
    width: 29px;
  }
}

.menu__ico-tablet-folder {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -917px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 31px;
  width: 27px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .menu__ico-tablet-folder {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -917px;
    height: 31px;
    width: 27px;
  }
}

.menu__text {
  width: calc(100% - 45px);
  float: left;
}
.menu__text_small {
  max-width: 150px;
  line-height: 20px;
}

.achievement-b {
  width: 154px;
  height: 90px;
  padding: 5px 10px;
  background: linear-gradient(to bottom, #ffffff, #cee0f2);
  border: 3px solid #3073b6;
  text-align: center;
  color: #3073b6;
}

.slider-b .owl-theme .owl-carousel__item {
  padding: 0 10%;
}
.slider-b .owl-theme .owl-nav {
  margin: 0;
}
.slider-b .owl-theme .owl-nav div {
  margin: 0;
  background: none;
  font-size: 0;
}
.slider-b .owl-theme .owl-nav div:hover {
  border-color: #393185;
  background: none;
}
.slider-b .owl-theme .owl-nav div .disabled {
  background: none;
}
.slider-b .owl-theme .owl-nav .owl-prev {
  width: 60px;
  height: 60px;
  margin-top: -80px;
  border-right: 5px solid #909090;
  border-bottom: 5px solid #909090;
  position: absolute;
  top: 50%;
  left: 11px;
  transform: rotate(135deg);
}
.slider-b .owl-theme .owl-nav .owl-next {
  width: 60px;
  height: 60px;
  margin-top: -80px;
  border-right: 5px solid #909090;
  border-bottom: 5px solid #909090;
  position: absolute;
  top: 50%;
  right: 11px;
  transform: rotate(-45deg);
}
.slider-b .owl-theme .owl-dots {
  height: 0;
  display: block;
  overflow: hidden;
}

.slider-b__row {
  padding-top: 30px;
  margin-bottom: 70px;
}

.slider-b__list {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style: none;
}

.slider-b__item {
  padding-right: 100px;
  display: inline-block;
  position: relative;
  font-family: FRADM;
  font-size: 60px;
  line-height: 60px;
  color: #cee0f2;
}
.slider-b__item_left:last-child {
  padding-right: 30px;
}
.slider-b__item_right:last-child {
  padding-right: 60px;
}

.slider-b__small-text {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  font-family: EtelkaReg;
  font-size: 15px;
  line-height: 16px;
}

.slider-b__ico-arrow-right {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 18px;
  width: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .slider-b__ico-arrow-right {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 0;
    height: 18px;
    width: 21px;
  }
}

.slider-b__link {
  display: inline-block;
  padding-top: 10px;
  margin: 0 30px 10px 0;
  border-bottom: 2px solid #3073b6;
  vertical-align: top;
  font-family: EtelkaReg;
  font-size: 30px;
  line-height: 36px;
  color: #3073b6;
  cursor: pointer;
}

.imp-b {
  padding-top: 35px;
  padding-bottom: 50px;
}

.subscribe-b {
  width: 400px;
  float: right;
}

.subscribe-b__entry-field {
  width: 210px;
  height: 37px;
  margin-right: 10px;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.section {
  padding-top: 40px;
  padding-bottom: 35px;
}

.way-b__list {
  padding: 15px 0 0 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.way-b__item {
  padding-right: 20px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.way-b__item:after {
  position: absolute;
  top: 50%;
  right: 8px;
  font-size: 13px;
  line-height: 1px;
  content: "-";
}
.way-b__item:last-child {
  padding-right: 0;
}
.way-b__item:last-child:after {
  content: "";
}

.way-b__link {
  display: inline-block;
  font-family: EtelkaReg;
  font-size: 13px;
  line-height: 16px;
  color: #37329d;
  text-decoration: underline;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.way-b__link:hover {
  color: #3073b6;
}

.filter-b {
  padding-top: 15px;
  border-top: 1px solid #aaaaaa;
}

.filter-b__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-b__item {
  margin-right: 40px;
  display: inline-block;
  vertical-align: top;
}

.filter-b__link {
  text-decoration: underline;
  font-family: EtelkaReg;
  font-size: 16px;
  color: #37329d;
}

.catalog-b__item-wrap {
  margin-bottom: 30px;
}

.catalog-b__item {
  padding: 15px;
  border: 1px solid #cccccc;
}

.catalog-b__link-img {
  width: 100%;
  height: 180px;
  margin-bottom: 15px;
  display: block;
  overflow: hidden;
  font-size: 0;
}

.catalog-b__img {
  max-height: 120%;
  max-width: 120%;
  min-height: 100%;
  min-width: 100%;
  font-size: 0;
}

.catalog-b__link {
  display: block;
}

.catalog-b__text-box {
  padding: 0 5px;
}

.example-b > div {
  border-bottom: 1px solid #cccccc;
}
.example-b > div:first-child {
  border-top: 1px solid #cccccc;
}

.example-b__row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.example-b__left-b {
  padding-left: 0;
  font-family: EtelkaReg;
  font-size: 20px;
  color: #37329d;
}

.charact-table {
  width: 100%;
  margin-bottom: 45px;
  font-family: EtelkaReg;
  font-size: 15px;
}

.charact-table__sell {
  padding: 10px 0;
}
.charact-table__sell_left {
  padding-right: 10px;
}
.charact-table__sell_last {
  padding-bottom: 40px;
}

.charact-table__row-border {
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}

.photo-b__bottom-b {
  margin-left: -5px;
  margin-right: -5px;
}

.photo-b__link-wrap {
  padding: 0 5px 10px 5px;
}

.photo-b__img-link {
  width: 100%;
  border: 1px solid #cccccc;
  display: block;
  overflow: hidden;
}
.photo-b__img-link_main {
  margin-bottom: 10px;
}

.photo-b__img {
  width: 100%;
  height: auto;
  font-size: 0;
}

.photo-b__img-second-b {
  width: 100%;
  font-size: 0;
}

.contacts-info-b {
  width: 100%;
  padding: 20px;
  background: #3073b6;
  word-wrap: break-word;
}

.footer {
  padding: 35px 0 45px 0;
  background: #37329d;
}

.footer__list {
  padding: 25px 0 0 0;
  margin: 0;
  list-style: none;
}

.soc-b {
  padding-top: 60px;
  text-align: center;
}

.soc-b__list {
  padding: 0;
  list-style: none;
  font-size: 0;
}

.soc-b__item {
  display: inline-block;
}

.soc-b__link {
  min-width: 32px;
  min-height: 32px;
  margin-right: 5px;
  display: block;
}

.soc-b__ico-instagram {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -332px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .soc-b__ico-instagram {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -332px;
    height: 32px;
    width: 32px;
  }
}

.soc-b__ico-vk {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -1050px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .soc-b__ico-vk {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -1050px;
    height: 32px;
    width: 32px;
  }
}

.soc-b__ico-classmates {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -44px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .soc-b__ico-classmates {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -44px;
    height: 32px;
    width: 32px;
  }
}

.soc-b__ico-mail-ru {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -597px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .soc-b__ico-mail-ru {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -597px;
    height: 32px;
    width: 32px;
  }
}

.soc-b__ico-f {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -111px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .soc-b__ico-f {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -111px;
    height: 32px;
    width: 32px;
  }
}

.soc-b__ico-twitter {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -1013px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .soc-b__ico-twitter {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -1013px;
    height: 32px;
    width: 32px;
  }
}

.soc-b__ico-g-plus {
  background-image: url('../images/icons-s638fbf705b.png');
  background-position: 0 -263px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .soc-b__ico-g-plus {
    background-image: url('../images/icons-2x-s2f7a549b77.png');
    background-size: 238px auto;
    background-position: 0 -263px;
    height: 32px;
    width: 32px;
  }
}

.counter-wrap {
  padding-top: 35px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-65 {
  margin-bottom: 65px !important;
}

.p-0 {
  padding: 0;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.plr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.plr-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.pb-170 {
  padding-bottom: 170px;
}

.text-purple {
  color: #37329d;
}

.text-white {
  color: #fff;
}

.text-bold {
  font-family: EtelkaBol !important;
}

.text-min-big {
  font-size: 20px;
  line-height: 24px;
}

.text-big {
  font-size: 25px;
  line-height: 37px;
}

.text-very-big {
  font-size: 30px;
  line-height: 36px;
}

.text-small {
  font-family: EtelkaReg;
  font-size: 12px;
}

.text-middle {
  font-family: EtelkaReg;
  font-size: 15px;
  line-height: 18px;
}

.h2 {
  margin: 0;
  font-family: EtelkaReg;
  font-size: 45px;
}
.h2_small {
  font-size: 35px;
}

.h3 {
  margin-top: 0;
  font-family: EtelkaBol;
  font-size: 25px;
  line-height: 30px;
}

.h4 {
  margin-bottom: 15px;
  font-family: EtelkaBol;
  font-size: 20px;
}

.h5 {
  margin: 0 0 20px 0;
  font-family: EtelkaBol;
  font-size: 20px;
  line-height: 24px;
}

.h6 {
  margin: 0 0 20px 0;
  font-family: EtelkaBol;
  font-size: 15px;
  line-height: 18px;
}

.list-content {
  padding-left: 20px;
  margin-bottom: 20px;
  list-style: none;
}
.list-content > li {
  position: relative;
}
.list-content > li:before {
  content: "-";
  position: absolute;
  top: 0;
  left: -10px;
}

.link {
  text-decoration: underline;
  transition: 0.5s ease 0s;
}
.link_blue {
  display: block;
  color: #3072b6;
}
.link_blue-small-bol {
  font-family: EtelkaBol;
  font-size: 15px;
  line-height: 18px;
}
.link_blue-medium-reg {
  font-family: EtelkaReg;
  font-size: 16px;
  line-height: 19px;
}
.link_blue-medium-bol {
  text-decoration: none;
  font-family: EtelkaBol;
  font-size: 20px;
  line-height: 24px;
}
.link_blue-big-bol {
  font-family: EtelkaBol;
  font-size: 30px;
  line-height: 36px;
}
.link_blue:hover {
  color: #37329d;
}
.link_white {
  display: inline-block;
  font-family: EtelkaReg;
  font-size: 15px;
  color: #fff;
}
.link_white-tel {
  text-decoration: none;
}

button.btn,
a.btn {
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
  font-family: EtelkaReg;
  font-size: 20px;
  color: #fff;
}
button.btn_square,
a.btn_square {
  width: 370px;
  line-height: 50px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
button.btn_square-small,
a.btn_square-small {
  width: 100%;
  padding: 15px;
  font-family: EtelkaBol;
  font-size: 15px;
  line-height: 18px;
  white-space: pre-wrap;
}
button.btn_br,
a.btn_br {
  width: 170px;
  line-height: 35px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
button.btn_purple,
a.btn_purple {
  background: #37329d;
}
button.btn_purple:hover, button.btn_purple:focus,
a.btn_purple:hover,
a.btn_purple:focus {
  background: #3e39ac;
  color: #fff;
}
button.btn_purple:active,
a.btn_purple:active {
  background: #302c89;
  color: #fff;
}
button.btn_purple:visited,
a.btn_purple:visited {
  background: #37329d;
}
button.btn_purple:visited:hover, button.btn_purple:visited:focus,
a.btn_purple:visited:hover,
a.btn_purple:visited:focus {
  background: #3e39ac;
  color: #fff;
}
button.btn_purple:visited:active,
a.btn_purple:visited:active {
  background: #302c89;
  color: #fff;
}
button.btn_blue,
a.btn_blue {
  background: #3073b6;
}
button.btn_blue:hover, button.btn_blue:focus,
a.btn_blue:hover,
a.btn_blue:focus {
  background: #3581cd;
  color: #fff;
}
button.btn_blue:active,
a.btn_blue:active {
  background: #2b639b;
  color: #fff;
}
button.btn_blue:visited,
a.btn_blue:visited {
  background: #3073b6;
}
button.btn_blue:visited:hover, button.btn_blue:visited:focus,
a.btn_blue:visited:hover,
a.btn_blue:visited:focus {
  background: #3581cd;
  color: #fff;
}
button.btn_blue:visited:active,
a.btn_blue:visited:active {
  background: #2b639b;
  color: #fff;
}

.img-increasing {
  width: 100%;
  max-width: 590px;
  height: auto;
}

.line-vertical-gray {
  position: relative;
}
.line-vertical-gray:before {
  height: 95px;
  border-right: 1px solid #aaaaaa;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.line-gorizontal-gray {
  padding-bottom: 30px;
  margin-bottom: 35px;
  border-bottom: 1px solid #aaaaaa;
}

.blue {
  width: 100%;
  background: #3073b6;
}

.light-blue {
  width: 100%;
  padding: 30px 0;
  background: #cee0f2;
}

.navbar-default {
  background: #3073b6;
}

@media screen and (max-width: 1199px) {
  .menu__text_small {
    line-height: 38px;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse.collapse {
    display: none !important;
    border-top: 1px solid #fff;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .collapse.in {
    display: block !important;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-header {
    float: none;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 80px;
  }

  .navbar-default .navbar-nav {
    width: 100%;
    margin: 0;
  }
  .navbar-default .navbar-nav > li {
    padding: 0;
    display: block;
    width: 100%;
  }
  .navbar-default .navbar-nav > li > .menu__link {
    padding: 20px 20px;
    color: #fff;
  }
  .navbar-default .navbar-nav > li > .menu__link:hover, .navbar-default .navbar-nav > li > .menu__link:active, .navbar-default .navbar-nav > li > .menu__link:focus {
    background: #371794;
    color: #fff;
  }
  .navbar-default .navbar-nav > li > .menu__link_left-big {
    line-height: 38px;
  }
  .navbar-default .navbar-nav > li > .menu__link .menu__text_small {
    max-width: 100%;
  }
  .navbar-default .navbar-nav > li > .menu__link_right {
    background: #37329d;
  }
  .navbar-default .navbar-nav > li:before {
    display: none;
  }
  .navbar-default .navbar-nav > li:last-child:after {
    display: none;
  }
  .navbar-default .menu__list-right {
    width: 100%;
  }
  .navbar-default .menu__list-right .menu__item-right:before {
    display: none;
  }

  .catalog-b__link-img {
    height: 254px;
  }

  .soc-b {
    padding-top: 30px;
  }

  .mb-60-md {
    margin-bottom: 60px;
  }

  .text-center-md {
    text-align: center;
  }
}
@media screen and (max-width: 1020px) {
  .subscribe-b {
    width: 100%;
    margin-bottom: 30px;
    float: none;
    text-align: center;
  }

  .text-mod-1020 {
    text-align: center;
  }
}
@media screen and (max-width: 990px) {
  .service-b .tel-b {
    display: none;
  }

  .achievement-b {
    margin: auto;
  }

  .catalog-b__link-img {
    height: 325px;
  }

  .h2_small {
    text-align: center;
  }

  .text-very-big {
    font-size: 20px;
    line-height: 24px;
  }

  .mb-30-sm {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .logo-b {
    text-align: center;
  }

  .logo-b__copyright {
    padding: 0;
  }

  .slider-b .owl-theme .owl-nav .owl-prev {
    width: 30px;
    height: 30px;
    margin-top: -40px;
    border-right: 3px solid #909090;
    border-bottom: 3px solid #909090;
  }
  .slider-b .owl-theme .owl-nav .owl-next {
    width: 30px;
    height: 30px;
    margin-top: -40px;
    border-right: 3px solid #909090;
    border-bottom: 3px solid #909090;
  }

  .catalog-b__link-img {
    height: 450px;
  }

  .contacts-b {
    padding-top: 30px;
    text-align: center;
  }
  .contacts-b .footer__list {
    padding-top: 0;
  }
}
@media screen and (max-width: 569px) {
  .service-b .links-b {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .slider-b__link {
    margin-right: 0;
  }

  .slider-b .owl-theme .owl-nav .owl-prev {
    width: 20px;
    height: 20px;
    margin-top: -25px;
    border-right: 2px solid #909090;
    border-bottom: 2px solid #909090;
  }
  .slider-b .owl-theme .owl-nav .owl-next {
    width: 20px;
    height: 20px;
    margin-top: -25px;
    border-right: 2px solid #909090;
    border-bottom: 2px solid #909090;
  }

  .catalog-b__link-img {
    height: 300px;
  }

  .subscribe-b {
    text-align: center;
  }

  .subscribe-b__entry-field {
    width: 100%;
    margin: 0 0 15px 0;
  }

  button.btn_square,
  a.btn_square {
    width: 100%;
  }
  button.btn_br,
  a.btn_br {
    width: 100%;
  }
}
