@media screen and (max-width: 1199px) {
  .menu__text_small {
    line-height: 38px;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse.collapse {
    display: none !important;
    border-top: 1px solid #fff;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .collapse.in {
    display: block !important;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-header {
    float: none;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 80px;
  }

  .navbar-default .navbar-nav {
    width: 100%;
    margin: 0;
  }
  .navbar-default .navbar-nav > li {
    padding: 0;
    display: block;
    width: 100%;
  }
  .navbar-default .navbar-nav > li > .menu__link {
    padding: 20px 20px;
    color: #fff;
  }
  .navbar-default .navbar-nav > li > .menu__link:hover, .navbar-default .navbar-nav > li > .menu__link:active, .navbar-default .navbar-nav > li > .menu__link:focus {
    background: #371794;
    color: #fff;
  }
  .navbar-default .navbar-nav > li > .menu__link_left-big {
    line-height: 38px;
  }
  .navbar-default .navbar-nav > li > .menu__link .menu__text_small {
    max-width: 100%;
  }
  .navbar-default .navbar-nav > li > .menu__link_right {
    background: #37329d;
  }
  .navbar-default .navbar-nav > li:before {
    display: none;
  }
  .navbar-default .navbar-nav > li:last-child:after {
    display: none;
  }

  .lots-b {
    float: right;
  }

  .lots-b__link {
    position: relative;
  }
  .lots-b__link:hover {
    text-decoration: none;
  }

  .slider-b__item {
    text-align: left;
  }

  .catalog-b__link-img {
    height: 280px;
  }

  .soc-b {
    padding-top: 30px;
  }

  .footer__list_left {
    padding-left: 20px;
  }
  .footer__list_right {
    padding-left: 0;
  }

  .mb-60-md {
    margin-bottom: 60px;
  }

  .text-center-md {
    text-align: center;
  }
}
@media screen and (max-width: 1020px) {
  .subscribe-b {
    width: 100%;
    margin-bottom: 30px;
    float: none;
    text-align: center;
  }

  .text-mod-1020 {
    text-align: center;
  }
}
@media screen and (max-width: 990px) {
  .service-b .tel-b {
    display: none;
  }

  .achievement-b {
    margin: auto;
  }

  .catalog-b__link-img {
    height: 320px;
  }

  .h2 {
    margin: 0;
    font-family: EtelkaReg;
    font-size: 35px;
  }
  .h2_small {
    font-size: 25px;
    text-align: center;
  }

  .text-very-big {
    font-size: 20px;
    line-height: 24px;
  }

  .mb-30-sm {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .logo-b {
    text-align: center;
  }

  .logo-b__copyright {
    padding: 0;
  }

  .lots-b {
    width: 200px;
    float: right;
  }
  .lots-b:before {
    width: 200px;
  }

  .lots-b__link {
    text-align: center;
  }

  .lots-b__ico-wrap {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  .menu__text_big {
    width: auto;
    float: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
  }

  .slider-b .owl-theme .owl-nav .owl-prev {
    width: 30px;
    height: 30px;
    margin-top: -40px;
    border-right: 3px solid #909090;
    border-bottom: 3px solid #909090;
  }
  .slider-b .owl-theme .owl-nav .owl-next {
    width: 30px;
    height: 30px;
    margin-top: -40px;
    border-right: 3px solid #909090;
    border-bottom: 3px solid #909090;
  }

  .catalog-b__link-img {
    height: 260px;
  }

  .section_card {
    padding-bottom: 30px;
  }

  .photo-b__img-link_main {
    height: 480px;
  }
  .photo-b__img-link_second {
    height: 240px;
  }

  .contacts-b {
    padding-top: 30px;
    text-align: center;
  }
  .contacts-b .footer__list {
    padding-top: 0;
  }

  .footer__list_right {
    padding-left: 0;
  }
}
@media screen and (max-width: 640px) {
  .photo-b__img-link_main {
    height: 360px;
  }
  .photo-b__img-link_second {
    height: 180px;
  }

  .filter-b {
    margin-bottom: 20px;
  }

  .filter-b__item {
    width: 50%;
    padding: 0 20px 20px 20px;
    text-align: center;
  }

  .catalog-b__link-img {
    height: 200px;
  }

  .slider-b__link {
    margin-left: auto;
    margin-right: auto;
  }

  .slider-b__list {
    width: 100%;
  }
}
@media screen and (max-width: 569px) {
  .service-b .links-b {
    display: none;
  }

  .catalog-b__link-img {
    height: 180px;
  }
}
@media screen and (max-width: 530px) {
  .slider-b__steps {
    display: inline-block;
  }

  .slider-b__item_left {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .slider-b__item_left:last-child {
    padding-right: 10px;
  }
  .slider-b__item_right {
    padding-right: 0;
    text-align: center;
  }

  .slider-b__ico-arrow-right {
    display: none;
  }

  .slider-b__small-text {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .slider-b__link {
    margin-right: 0;
  }

  .slider-b .owl-theme .owl-nav .owl-prev {
    width: 20px;
    height: 20px;
    margin-top: -25px;
    border-right: 2px solid #909090;
    border-bottom: 2px solid #909090;
  }
  .slider-b .owl-theme .owl-nav .owl-next {
    width: 20px;
    height: 20px;
    margin-top: -25px;
    border-right: 2px solid #909090;
    border-bottom: 2px solid #909090;
  }

  .photo-b__img-link_main {
    height: 240px;
  }
  .photo-b__img-link_second {
    height: 120px;
  }

  .catalog-b__item-wrap {
    width: 100%;
    display: block;
  }

  .catalog-b__link-img {
    height: 260px;
  }

  .catalog-b__img {
    max-height: 140%;
    max-width: 140%;
  }

  .subscribe-b {
    text-align: center;
  }

  .subscribe-b__entry-field {
    width: 100%;
    margin: 0 0 15px 0;
  }

  button.btn_square,
  a.btn_square {
    width: 100%;
  }
  button.btn_br,
  a.btn_br {
    width: 100%;
  }
}
