@import "../css/fonts.css"
@import "mixins/mixins"

.site-wrap
	min-width: 320px
	overflow: hidden

.header
	padding-top: 35px

.container
	max-width: 1200px
	min-width: 320px
	width: 100%
	position: relative

.container-fluid
	padding: 0

.logo-b__link
	min-width: 238px
	min-height: 93px
	display: inline-block
	font-size: 0

.logo-b__ico-purple
	+sprite(logo-purple)

.logo-b__ico-white
	+sprite(logo-white)

.logo-b__copyright
	padding: 10px 0 0 70px
	font-family: EtelkaReg
	color: #fff

.service-b
	font-size: 0

.ico
	display: inline-block

.ico-tel
	+sprite(tel)

.ico-magnifier
	+sprite(magnifier)

.ico-property
	+sprite(property)

.ico-fifty-fifty
	+sprite(fifty-fifty)

.ico-percents
	+sprite(percents)

.ico-calendar
	margin-right: 10px
	+sprite(calendar)

.tel-b
	max-width: 363px
	padding: 20px 30px 0 30px
	display: inline-block
	vertical-align: top
	font-size: 0

.tel-b__ico-wrap
	margin: 5px 15px 0 0
	display: inline-block
	vertical-align: top

.tel-b__links
	display: inline-block
	vertical-align: middle

.tel-b__number
	display: block
	font-family: EtelkaReg
	font-size: 30px
	line-height: 36px
	color: #37329d
	+trans()

	&:hover
		color: #839fcc
		text-decoration: none

.search-b
	padding: 10px 30px 0 30px
	display: inline-block
	vertical-align: top

.search-b__entry-field-wrap
	position: relative

.search-b__entry-field
	min-height: 38px
	padding-right: 35px
	border: 1px solid #3073b6
	-webkit-border-radius: 10px
	-moz-border-radius: 10px
	border-radius: 10px
	color: #828282

.search-b__btn
	border: none
	background: none
	outline: none
	position: absolute
	top: 50%
	margin-top: -15px
	right: 5px

.links-b
	max-width: 220px
	padding: 10px 0 0 35px
	display: inline-block
	vertical-align: top

.navbar
	-webkit-border-radius: 0
	-moz-border-radius: 0
	border-radius: 0

.navbar-default
	margin: 0
	border: none
	background: #3073b6
	position: relative
	z-index: 10

	.navbar-collapse
		border: none
		position: relative

	.navbar-toggle
		width: 44px
		height: 44px
		margin: 18px 0 0 15px
		border-color: #fff
		float: left
		position: relative
		z-index: 10

		&:hover, &:active, &:focus
			background: #839fcc

		&:active, &:focus
			background: #371794

		.icon-bar
			background: #fff

	.navbar-nav
		width: calc(100% - 290px)
		height: 80px
		display: flex

		>li
			>.menu__link
				height: 100%
				padding: 0 15px
				display: flex
				align-items: center
				align-content: center
				font-family: EtelkaReg
				font-size: 17px
				font-weight: normal
				color: #fff
				word-wrap: break-word
				+trans()

				&:hover, &:active, &:focus
					background: #371794
					color: #fff

			&.active
				>.menu__link
					background: #371794

.menu__item-left
	height: 100%
	padding-right: 2px
	position: relative

	&:before
		width: 2px
		height: 56px
		margin-top: -28px
		background: #3c84cc
		border-right: 1px solid #2d6baa
		position: absolute
		top: 50%
		left: -2px
		content: ""

	&:last-child
		&:after
			width: 2px
			height: 56px
			margin-top: -28px
			background: #3c84cc
			border-right: 1px solid #2d6baa
			position: absolute
			top: 50%
			right: 0
			content: ""

.menu__list-right
	margin: 0

.lots-b
	width: 270px
	height: 80px
	position: absolute
	top: 0
	right: 15px
	z-index: 10

.lots-b__link
	height: 88px
	padding: 23px 20px
	margin: -4px 0
	background: #37329d
	display: block
	position: relative
	font-size: 20px
	color: #fff
	+trans()

	&:hover, &:active, &:focus
		color: #fff
		background: #371794

.lots-b__text
	width: calc(100% - 45px)
	float: left

.lots-b__ico-wrap
	height: 100%
	width: 30px
	line-height: 40px
	margin-right: 15px
	float: left
	text-align: center

.menu__ico-wrap
	width: 30px
	margin-right: 15px
	float: left
	text-align: center

.menu__ico
	vertical-align: middle

.menu__ico-home
	+sprite(home)

.menu__ico-doc
	+sprite(doc)

.menu__ico-man
	+sprite(man)

.menu__ico-mail
	+sprite(mail)

.menu__ico-tablet-folder
	+sprite(tablet-folder)

.menu__text
	width: calc(100% - 45px)
	float: left
	text-decoration: underline

	&_small
		max-width: 150px
		line-height: 20px

	&_big
		line-height: 40px

.achievement-b-wrap
	padding: 0 20px

.achievement-b
	width: 154px
	height: 90px
	padding: 5px 10px
	background: linear-gradient(to bottom, #ffffff, #cee0f2)
	border: 3px solid #3073b6
	text-align: center
	color: #3073b6

.owl-carousel-wrap
	position: relative

.owl-nav-imit
	span
		display: block
		z-index: 10
		cursor: pointer

		&:hover
			border-color: #393185
			background: none

.owl-prev-imit
	width: 60px
	height: 60px
	margin-top: -30px
	border-right: 5px solid #909090
	border-bottom: 5px solid #909090
	position: absolute
	top: 50%
	left: 11px
	z-index: 100
	-webkit-transform: rotate(135deg)
	-moz-transform: rotate(135deg)
	-ms-transform: rotate(135deg)
	-o-transform: rotate(135deg)
	transform: rotate(135deg)

.owl-next-imit
	width: 60px
	height: 60px
	margin-top: -30px
	border-right: 5px solid #909090
	border-bottom: 5px solid #909090
	position: absolute
	top: 50%
	right: 11px
	z-index: 100
	-webkit-transform: rotate(-45deg)
	-moz-transform: rotate(-45deg)
	-ms-transform: rotate(-45deg)
	-o-transform: rotate(-45deg)
	transform: rotate(-45deg)

.slider-b
	.owl-theme
		.owl-carousel__item
			padding: 0 15%

		.owl-nav
			opacity: 0
			margin: 0

			div
				margin: 0
				background: none
				font-size: 0

				&:hover
					border-color: #393185
					background: none

				.disabled
					background: none

			.owl-prev
				width: 60px
				height: 60px
				margin-top: -30px
				border-right: 5px solid #909090
				border-bottom: 5px solid #909090
				position: absolute
				top: 50%
				left: 11px
				-webkit-transform: rotate(135deg)
				-moz-transform: rotate(135deg)
				-ms-transform: rotate(135deg)
				-o-transform: rotate(135deg)
				transform: rotate(135deg)

			.owl-next
				width: 60px
				height: 60px
				margin-top: -30px
				border-right: 5px solid #909090
				border-bottom: 5px solid #909090
				position: absolute
				top: 50%
				right: 11px
			-webkit-transform: rotate(-45deg)
			-moz-transform: rotate(-45deg)
			-ms-transform: rotate(-45deg)
			-o-transform: rotate(-45deg)
			transform: rotate(-45deg)

		.owl-dots
			height: 0
			display: block
			overflow: hidden

.slider-b__steps
	margin-bottom: 20px
	border-bottom: 2px solid #3073b6
	font-family: EtelkaReg
	font-size: 20px
	line-height: 24px
	color: #3073b6
	display: none

.slider-b__row
	padding-top: 30px
	margin-bottom: 70px

.slider-b__list
	padding: 0
	margin: 0
	display: inline-block
	font-size: 0
	list-style: none

.slider-b__item
	display: inline-block
	position: relative
	font-family: FRADM
	font-size: 60px
	line-height: 60px
	color: #cee0f2

	&_left
		padding-right: 70px

		&:after
			content: ""
			position: absolute
			top: 50%
			right: 20%
			-webkit-transform: translateY(-50%)
			-moz-transform: translateY(-50%)
			-ms-transform: translateY(-50%)
			-o-transform: translateY(-50%)
			transform: translateY(-50%)
			+sprite(arrow-right)

		&:last-child
			padding-right: 0

			&:after
				display: none

	&_right
		padding-right: 40px

		&:last-child
			padding-right: 0

	&.active
		color: #371794

.slider-b__control
	display: inline-block
	position: relative
	cursor: pointer
	+trans()

	&_left
		width: 65px

	&_right
		width: 100px

	&:hover
		color: #371794

.slider-b__small-text
	display: inline-block
	position: absolute
	top: 50%
	margin-top: -8px
	font-family: EtelkaReg
	font-size: 15px
	line-height: 16px

	&_first
		margin-left: -8px

.slider-b__link
	display: inline-block
	padding-top: 10px
	margin: 0 30px 10px 0
	border-bottom: 2px solid #3073b6
	vertical-align: top
	font-family: EtelkaReg
	font-size: 30px
	line-height: 36px
	color: #3073b6
	cursor: default

.imp-b
	padding-top: 35px
	padding-bottom: 50px

.subscribe-b
	width: 400px
	float: right

.subscribe-b__entry-field
	width: 210px
	height: 37px
	margin-right: 10px
	display: inline-block
	-webkit-border-radius: 10px
	-moz-border-radius: 10px
	border-radius: 10px

.section
	padding-top: 40px
	padding-bottom: 35px

	&_card
		padding-bottom: 100px

	&_news
		padding-bottom: 50px

.way-b__list
	padding: 15px 0 0 0
	margin: 0
	list-style: none
	font-size: 0

.way-b__item
	padding-right: 20px
	display: inline-block
	vertical-align: top
	position: relative
	font-family: EtelkaReg
	font-size: 13px
	line-height: 16px
	color: #37329d

	&:after
		position: absolute
		top: 50%
		right: 8px
		font-size: 13px
		line-height: 1px
		content: "-"

	&:last-child
		padding-right: 0

		&:after
			content: ""

.way-b__link
	display: inline-block
	color: #37329d
	text-decoration: underline
	+trans()

	&:hover
		color: #3073b6

.filter-b
	padding-top: 15px
	margin-bottom: 40px
	border-top: 1px solid #aaaaaa

.filter-b__list
	width: 100%
	padding: 0
	margin: 0
	font-size: 0
	list-style: none

.filter-b__item
	padding-right: 40px
	display: inline-block
	vertical-align: top
	font-size: 16px

.filter-b__link
	text-decoration: underline
	font-family: EtelkaReg
	font-size: 16px
	color: #37329d
	+trans()

	&:hover
		color: #3073b6

.catalog-b__item-wrap
	margin-bottom: 50px

.catalog-b__item
	padding: 15px
	border: 1px solid #cccccc
	+trans()

	&:hover
		background: #f9fbff
		box-shadow: 0 0 10px 1px #ccc

.catalog-b__link-img
	width: 100%
	height: 100%
	margin-bottom: 15px
	display: block
	position: relative
	overflow: hidden

	&:before
		content: ''
		margin-top: 70%
		display: block

.catalog-b__img
	max-height: 120%
	max-width: 120%
	min-height: 100%
	min-width: 100%
	font-size: 0

.catalog-b__link
	display: block

.catalog-b__text-box
	padding: 0 5px

.date-b
	padding-bottom: 10px
	margin-bottom: 15px
	border-bottom: 1px solid #aaaaaa

.news-b
	margin-bottom: 30px

	&_news-page
		margin-bottom: 50px

.news-b__link
	display: block
	+trans()

	&:hover
		text-decoration: none

.paginatinon-b__list
	padding-left: 0
	list-style: none
	text-align: center
	font-size: 0

.pagination-b__item
	margin-right: 20px
	display: inline-block
	font-size: 20px
	font-weight: 600

	&:last-child
		margin-right: 0

.example-b
	> div
		border-bottom: 1px solid #cccccc

	> div:first-child
		border-top: 1px solid #cccccc

.example-b__row
	margin-left: 0
	margin-right: 0
	padding-top: 20px
	padding-bottom: 20px

.example-b__left-b
	margin-bottom: 20px
	padding-left: 0
	font-family: EtelkaReg
	font-size: 20px
	line-height: 24px
	color: #37329d

.example-b__right-b
	padding-left: 0

.right-to-left-direction
	@media screen and (min-width: 768px)
		> div
			float: right

.charact-table
	width: 100%
	margin-bottom: 45px
	font-family: EtelkaReg
	font-size: 15px

.charact-table__sell
	padding: 10px 0

	&_left
		max-width: 150px
		padding-right: 10px
		color: #999999

	&_last
		padding-bottom: 40px

.charact-table__row-border
	border-top: 1px solid #aaaaaa
	border-bottom: 1px solid #aaaaaa

.photo-b__bottom-b
	margin-left: -5px
	margin-right: -5px

.photo-b__link-wrap
	padding: 0 5px 10px 5px

.photo-b__img-link
	width: 100%
	border: 1px solid #cccccc
	display: block
	overflow: hidden

	&_main
		height: 280px
		margin-bottom: 10px

	&_second
		height: 108px

.photo-b__img
	min-width: 100%
	min-height: 100%
	max-width: 120%
	max-height: 120%
	font-size: 0

.photo-b__img-second-b
	width: 100%
	font-size: 0

.contacts-info-b
	width: 100%
	padding: 20px
	background: #3073b6
	word-wrap: break-word

.footer
	padding: 35px 0 45px 0
	background: #37329d

.footer__list
	padding-top: 25px
	margin: 0
	list-style: none

	&_left
		padding-left: 40px

	&_right
		padding-left: 0

.soc-b
	padding-top: 60px
	text-align: center

.soc-b__list
	padding: 0
	list-style: none
	font-size: 0

.soc-b__item
	display: inline-block

.soc-b__link
	min-width: 32px
	min-height: 32px
	margin-right: 5px
	background: #3073b6
	-webkit-border-radius: 5px
	-moz-border-radius: 5px
	border-radius: 5px
	display: block
	position: relative
	+trans()

	&:hover
		background: #2b6096

.soc-b__ico
	position: absolute
	top: 50%
	left: 50%
	-webkit-transform: translate( -50%, -50%)
	-moz-transform: translate( -50%, -50%)
	-ms-transform: translate( -50%, -50%)
	-o-transform: translate( -50%, -50%)
	transform: translate( -50%, -50%)

.soc-b__ico-instagram
	+sprite(instagram)

.soc-b__ico-vk
	+sprite(vk)

.soc-b__ico-classmates
	+sprite(classmates)

.soc-b__ico-mail-ru
	+sprite(mail-ru)

.soc-b__ico-f
	top: auto
	left: auto
	bottom: 0
	right: 4px
	-webkit-transform: translate( 0, 0)
	-moz-transform: translate( 0, 0)
	-ms-transform: translate( 0, 0)
	-o-transform: translate( 0, 0)
	transform: translate( 0, 0)
	+sprite(f)

.soc-b__ico-twitter
	+sprite(twitter)

.soc-b__ico-g-plus
	+sprite(g-plus)

.counter-wrap
	padding-top: 35px





.mb-0
	margin-bottom: 0 !important

.mb-5
	margin-bottom: 5px

.mb-10
	margin-bottom: 10px

.mb-15
	margin-bottom: 15px !important

.mb-20
	margin-bottom: 20px

.mb-25
	margin-bottom: 25px

.mb-30
	margin-bottom: 30px

.mb-35
	margin-bottom: 35px

.mb-40
	margin-bottom: 40px !important

.mb-45
	margin-bottom: 45px

.mb-50
	margin-bottom: 50px

.mb-55
	margin-bottom: 55px

.mb-65
	margin-bottom: 65px !important

.p-0
	padding: 0

.ptb-15
	padding-top: 15px
	padding-bottom: 15px

.plr-10
	padding-left: 10px
	padding-right: 10px

.plr-50
	padding-left: 50px
	padding-right: 50px

.d-ib
	display: inline-block

.text-purple
	color: #37329d

.text-white
	color: #fff

.text-bold
	font-family: EtelkaBol !important

.text-min-big
	font-size: 20px
	line-height: 24px

.text-big
	font-size: 25px
	line-height: 37px

.text-very-big
	font-size: 30px
	line-height: 36px

.text-small
	font-family: EtelkaReg
	font-size: 12px

.text-middle
	font-family: EtelkaReg
	font-size: 15px
	line-height: 18px

.h2
	margin: 0
	font-family: EtelkaReg
	font-size: 45px

	&_small
		font-size: 35px

	&_mb-20
		margin-bottom: 20px

.h3
	margin-top: 0
	font-family: EtelkaBol
	font-size: 25px
	line-height: 30px

.h4
	margin-bottom: 15px
	font-family: EtelkaBol
	font-size: 20px

.h5
	margin: 0 0 20px 0
	font-family: EtelkaBol
	font-size: 20px
	line-height: 24px

.h6
	margin: 0 0 20px 0
	font-family: EtelkaBol
	font-size: 15px
	line-height: 18px

.list-content
	padding-left: 20px
	margin-bottom: 20px
	list-style: none

	& > li
		position: relative

		&:before
			content: "-"
			position: absolute
			top: 0
			left: -10px

.link
	text-decoration: underline
	cursor: pointer
	+trans()

	&:visited, &:focus
		border: none
		outline: none

	&_blue
		display: block
		color: #3072b6

		&-small-bol
			font-family: EtelkaBol
			font-size: 15px
			line-height: 18px

		&-medium-reg
			font-family: EtelkaReg
			font-size: 16px
			line-height: 19px

		&-medium-bol
			text-decoration: none
			font-family: EtelkaBol
			font-size: 20px
			line-height: 24px


		&-big-bol
			font-family: EtelkaBol
			font-size: 30px
			line-height: 36px

		&:hover
			color: #37329d

		&:visited, &:focus
			color: #3072b6

			&:hover
				color: #37329d

	&_white
		display: inline-block
		font-family: EtelkaReg
		font-size: 15px
		color: #fff

		&-tel
			text-decoration: none

			&:hover
				text-decoration: none

		&:hover
			color: #839fcc

		&:visited, &:focus
			color: #fff

			&:hover
				color: #839fcc

button.btn,
a.btn,
.btn
	padding: 0 10px
	display: inline-block
	vertical-align: top
	font-family: EtelkaReg
	font-size: 20px
	color: #fff
	cursor: pointer
	outline: none !important
	+trans()

	&:visited
		outline: none !important

	&_square
		width: 370px
		line-height: 50px
		-webkit-border-radius: 0
		-moz-border-radius: 0
		border-radius: 0

		&-small
			width: 100%
			padding: 15px
			font-family: EtelkaBol
			font-size: 15px
			line-height: 18px
			white-space: pre-wrap

		&-pagintation
			width: 44px
			line-height: 40px

	&_br
		width: 170px
		line-height: 33px
		-webkit-border-radius: 10px
		-moz-border-radius: 10px
		border-radius: 10px

	&_purple
		border: 2px solid #37329d
		background: #37329d

		&:hover,
		&:focus
			background: #fff
			color: #37329d

		&:active
			border: 2px solid #302c89
			background: #302c89
			color: #fff

		&:visited
			border: 2px solid #37329d
			background: #37329d

			&:hover,
			&:focus
				background: #fff
				color: #37329d


			&:active
				border: 2px solid #302c89
				background: #302c89
				color: #fff

	&_blue
		border: 2px solid #3073b6
		background: #3073b6

		&:hover,
		&:focus
			background: #fff
			color: #3073b6

		&:active
			border: 2px solid #2b639b
			background: #2b639b
			color: #fff

		&:visited
			border: 2px solid #3073b6
			background: #3073b6

			&:hover,
			&:focus
				background: #fff
				color: #3073b6

			&:active
				border: 2px solid #2b639b
				background: #2b639b
				color: #fff

		&-active
			border: 2px solid #371794
			background: #371794

			&:hover,
			&:focus
				border: 2px solid #371794
				background: #371794
				color: #fff

			&:visited
				border: 2px solid #371794
				background: #371794

				&:hover,
				&:focus
					border: 2px solid #371794
					background: #371794
					color: #fff

		&-disbled
			border: 2px solid #839fcc
			background: #839fcc

			&:hover,
			&:focus
				border: 2px solid #839fcc
				background: #839fcc
				color: #fff

			&:visited
				border: 2px solid #839fcc
				background: #839fcc

				&:hover,
				&:focus
					border: 2px solid #839fcc
					background: #839fcc
					color: #fff

	&_modal
		width: auto

	&_long
		width: 100%

.img-increasing
	width: 100%
	max-width: 590px
	height: auto

.line-vertical-gray
	position: relative

	&:before
		height: 95px
		border-right: 1px solid #aaaaaa
		position: absolute
		top: 0
		left: 0
		content: ""

.line-gorizontal-gray
	padding-bottom: 25px
	margin-bottom: 35px
	border-bottom: 1px solid #aaaaaa

.blue
	width: 100%
	background: #3073b6

.light-blue
	width: 100%
	padding: 30px 0
	background: #cee0f2

.prop-content
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	+trans()

	&:hover
		transform: scale(1.1)
		-webkit-transform: scale(1.1)
		-moz-transform: scale(1.1)
		-ms-transform: scale(1.1)
		-o-transform: scale(1.1)
		transform: scale(1.1)

.modal-header .close
	margin-top: 2px

	&:active, &:focus
		outline: none

.modal__h5
	margin: 0
	font-family: EtelkaBol
	font-size: 16px
	line-height: 23px
	color: #37329d

.modal__entry-field
	min-height: 37px
	margin-bottom: 10px
	border: 1px solid #3073b6
	-webkit-border-radius: 10px
	-moz-border-radius: 10px
	border-radius: 10px
	color: #828282

.modal__textarea
	min-width: 100%
	max-width: 268px
	max-height: 380px
	padding: 10px
	margin-bottom: 10px
	border: 1px solid #3073b6
	-webkit-border-radius: 10px
	-moz-border-radius: 10px
	border-radius: 10px
	color: #828282

@import "style-adaptive"