@media screen and (max-width: 1199px)
	.menu__text
		&_small
			line-height: 38px

	.navbar-toggle
		display: block

	.navbar-collapse.collapse
		display: none!important
		border-top: 1px solid #fff

	.navbar-collapse
		padding-left: 0
		padding-right: 0

	.collapse.in
		display: block!important
		padding-left: 0
		padding-right: 0

	.navbar-header
		float: none
		position: relative
		width: 100%
		overflow: hidden
		height: 80px

	.navbar-default
		.navbar-nav
			width: 100%
			height: auto
			margin: 0
			display: block

			>li
				width: 100%
				display: block
				float: none
				padding: 0

				>.menu__link
					padding: 20px 20px

				&:before
					display: none

				&:last-child
					&:after
						display: none

	.lots-b
		float: right

	.lots-b__link
		position: relative

		&:hover
			text-decoration: none

	.slider-b__item
		text-align: left

	.slider-b__list
		margin-bottom: 30px

	.soc-b
		padding-top: 30px

	.footer__list
		&_left
			padding-left: 20px

		&_right
			padding-left: 0

	.mb-60-md
		margin-bottom: 60px

	.text-center-md
		text-align: center

@media screen and (max-width: 1020px)
	.achievement-b-wrap
		padding: 0

		div
			padding: 0

	.subscribe-b
		width: 100%
		margin-bottom: 30px
		float: none
		text-align: center

	.text-mod-1020
		text-align: center

@media screen and (max-width: 990px)
	.service-b
		.tel-b
			display: none

	.achievement-b
		margin: auto

	.h2
		margin: 0
		font-family: EtelkaReg
		font-size: 35px

		&_small
			font-size: 25px
			text-align: center

	.text-very-big
		font-size: 20px
		line-height: 24px

	.mb-30-sm
		margin-bottom: 30px

@media screen and (max-width: 767px)
	.logo-b
		text-align: center

	.logo-b__copyright
		padding: 0

	.lots-b
		width: 200px
		float: right

		&:before
			width: 200px

	.lots-b__link
		text-align: center

	.lots-b__ico-wrap
		float: none
		display: inline-block
		vertical-align: middle

	.menu__text_big
		width: auto
		float: none
		display: inline-block
		vertical-align: middle
		font-size: 25px

	.slider-b__row
		margin-bottom: 15px

	.owl-prev-imit
		width: 30px
		height: 30px
		margin-top: -15px
		border-right: 3px solid #909090
		border-bottom: 3px solid #909090

	.owl-next-imit
		width: 30px
		height: 30px
		margin-top: -15px
		border-right: 3px solid #909090
		border-bottom: 3px solid #909090

	.slider-b
		.owl-theme
			.owl-nav
				.owl-prev
					width: 30px
					height: 30px
					margin-top: -15px
					border-right: 3px solid #909090
					border-bottom: 3px solid #909090

				.owl-next
					width: 30px
					height: 30px
					margin-top: -15px
					border-right: 3px solid #909090
					border-bottom: 3px solid #909090

	.contacts-info-b
		margin-bottom: 35px

	.section
		&_card
			padding-bottom: 30px

	.photo-b__img-link
		&_main
			height: 480px

		&_second
			height: 240px

	.contacts-b
		padding-top: 30px
		text-align: center

		.footer__list
			padding-top: 0

	.footer__list
		&_right
			padding-left: 0

	.plr-15-sm
		padding-left: 15px
		padding-right: 15px

@media screen and (max-width: 640px)
	.photo-b__img-link
		&_main
			height: 360px

		&_second
			height: 180px
	.filter-b
		margin-bottom: 20px

	.filter-b__item
		width: 50%
		padding: 0 20px 20px 20px
		text-align: center

	.slider-b__link
		margin-left: auto
		margin-right: auto

	.slider-b__list
		width: 100%

@media screen and (max-width: 569px)
	.service-b
		.links-b
			display: none

@media screen and (max-width: 530px)
	.slider-b__steps
		display: inline-block
		margin-bottom: 10px

	.slider-b__link
		font-size: 20px
		line-height: 24px

	.slider-b__control
		width: 50px
		height: 50px
		line-height: 47px
		border: 2px solid #3073b6
		-webkit-border-radius: 50%
		-moz-border-radius: 50%
		border-radius: 50%
		font-size: 30px

	.slider-b__item
		width: 25%
		padding-left: 3%
		padding-right: 3%
		text-align: center

		&_left
			&:after
				display: none

		&.active
			span
				background: #cee0f2

	.slider-b__small-text
		display: none

@media screen and (max-width: 479px)
	.slider-b__link
		margin-right: 0

	.owl-prev-imit
		width: 10px
		height: 10px
		margin-top: -5px
		border-right: 2px solid #909090
		border-bottom: 2px solid #909090

		&:before
			width: 30px
			height: 30px
			border: 1px solid #3073b6
			position: absolute
			top: 50%
			left: 50%
			z-index: -10
			transform: translate(-43%, -43%)
			-webkit-border-radius: 50%
			-moz-border-radius: 50%
			border-radius: 50%
			content: ""

	.owl-next-imit
		width: 10px
		height: 10px
		margin-top: -5px
		border-right: 2px solid #909090
		border-bottom: 2px solid #909090

		&:before
			width: 30px
			height: 30px
			border: 1px solid #3073b6
			position: absolute
			top: 50%
			left: 50%
			z-index: -10
			transform: translate(-43%, -43%)
			-webkit-border-radius: 50%
			-moz-border-radius: 50%
			border-radius: 50%
			content: ""

	.slider-b
		.owl-theme
			.owl-nav
				.owl-prev
					width: 20px
					height: 20px
					margin-top: -10px
					border-right: 2px solid #909090
					border-bottom: 2px solid #909090

				.owl-next
					width: 20px
					height: 20px
					margin-top: -10px
					border-right: 2px solid #909090
					border-bottom: 2px solid #909090

	.photo-b__img-link
		&_main
			height: 240px

		&_second
			height: 120px

	.catalog-b__item-wrap
		width: 100%
		display: block

	.catalog-b__img
		max-height: 140%
		max-width: 140%

	.subscribe-b
		text-align: center

	.subscribe-b__entry-field
		width: 100%
		margin: 0 0 15px 0

	button.btn,
	a.btn
		&_square
			width: 100%

		&_br
			width: 100%