@media screen and (max-width: 1199px)
	.menu__text
		&_small
			line-height: 38px

	.navbar-toggle
		display: block

	.navbar-collapse.collapse
		display: none!important
		border-top: 1px solid #fff

	.navbar-collapse
		padding-left: 0
		padding-right: 0

	.collapse.in
		display: block!important
		padding-left: 0
		padding-right: 0

	.navbar-header
		float: none
		position: relative
		width: 100%
		overflow: hidden
		height: 80px

	.navbar-default
		.navbar-nav
			width: 100%
			margin: 0

			>li
				padding: 0
				display: block
				width: 100%

				>.menu__link
					padding: 20px 20px
					color: #fff

					&:hover, &:active, &:focus
						background: #371794
						color: #fff

					&_left-big
						line-height: 38px

					.menu__text_small
						max-width: 100%

					&_right
						background: #37329d

				&:before
					display: none

				&:last-child
					&:after
						display: none

	.lots-b
		float: right

	.lots-b__link
		position: relative

	.slider-b__item
		text-align: left

	.catalog-b__link-img
		height: 280px

	.soc-b
		padding-top: 30px

	.mb-60-md
		margin-bottom: 60px

	.text-center-md
		text-align: center

@media screen and (max-width: 1020px)
	.subscribe-b
		width: 100%
		margin-bottom: 30px
		float: none
		text-align: center

	.text-mod-1020
		text-align: center

@media screen and (max-width: 990px)
	.service-b
		.tel-b
			display: none

	.achievement-b
		margin: auto

	.catalog-b__link-img
		height: 320px

	.h2
		margin: 0
		font-family: EtelkaReg
		font-size: 35px

		&_small
			font-size: 25px
			text-align: center

	.text-very-big
		font-size: 20px
		line-height: 24px

	.mb-30-sm
		margin-bottom: 30px

@media screen and (max-width: 767px)
	.logo-b
		text-align: center

	.logo-b__copyright
		padding: 0

	.lots-b
		width: 200px
		float: right

		&:before
			width: 200px

	.lots-b__link
		text-align: center

	.lots-b__ico-wrap
		float: none
		display: inline-block
		vertical-align: middle

	.menu__text_big
		width: auto
		float: none
		display: inline-block
		vertical-align: middle
		font-size: 25px

	.slider-b
		.owl-theme
			.owl-nav
				.owl-prev
					width: 30px
					height: 30px
					margin-top: -40px
					border-right: 3px solid #909090
					border-bottom: 3px solid #909090

				.owl-next
					width: 30px
					height: 30px
					margin-top: -40px
					border-right: 3px solid #909090
					border-bottom: 3px solid #909090

	.catalog-b__link-img
		height: 260px

	.photo-b__img-link
		&_main
			height: 480px

		&_second
			height: 240px

	.contacts-b
		padding-top: 30px
		text-align: center

		.footer__list
			padding-top: 0

@media screen and (max-width: 640px)
	.photo-b__img-link
		&_main
			height: 360px

		&_second
			height: 180px
	.filter-b
		margin-bottom: 20px

	.filter-b__item
		width: 50%
		padding: 0 20px 20px 20px
		text-align: center

	.catalog-b__link-img
		height: 200px

@media screen and (max-width: 569px)
	.service-b
		.links-b
			display: none

	.catalog-b__link-img
		height: 180px

@media screen and (max-width: 479px)
	.slider-b__link
		margin-right: 0

	.slider-b
		.owl-theme
			.owl-nav
				.owl-prev
					width: 20px
					height: 20px
					margin-top: -25px
					border-right: 2px solid #909090
					border-bottom: 2px solid #909090

				.owl-next
					width: 20px
					height: 20px
					margin-top: -25px
					border-right: 2px solid #909090
					border-bottom: 2px solid #909090

	.photo-b__img-link
		&_main
			height: 240px

		&_second
			height: 120px

	.catalog-b__item-wrap
		width: 100%
		display: block

	.catalog-b__link-img
		height: 260px

	.catalog-b__img
		max-height: 140%
		max-width: 140%

	.subscribe-b
		text-align: center

	.subscribe-b__entry-field
		width: 100%
		margin: 0 0 15px 0

	button.btn,
	a.btn
		&_square
			width: 100%

		&_br
			width: 100%