@import "../css/fonts.css"
@import "mixins/mixins"
@import "style-tablet"
@import "style-mobile"

.header
	padding-top: 35px

.container
	max-width: 1200px
	min-width: 320px
	width: 100%

.container-fluid
	padding: 0

.logo-b__link
	min-width: 238px
	min-height: 93px
	display: inline-block
	font-size: 0

.logo-b__ico-purple
	+sprite(logo-purple)

.logo-b__ico-white
	+sprite(logo-white)

.logo-b__copyright
	padding: 10px 0 0 70px
	font-family: EtelkaReg
	color: #fff

.service-b
	font-size: 0

.ico
	display: inline-block !important

.ico-tel
	+sprite(tel)

.ico-magnifier
	+sprite(magnifier)

.ico-property
	+sprite(property)

.ico-fifty-fifty
	+sprite(fifty-fifty)

.ico-percents
	+sprite(percents)

.ico-calendar
	margin-right: 10px
	+sprite(calendar)

.tel-b
	padding: 20px 30px 0 30px
	display: inline-block
	vertical-align: top
	font-size: 0

.tel-b__ico-wrap
	margin: 5px 10px 0 0
	display: inline-block
	vertical-align: top

.tel-b__links
	display: inline-block
	vertical-align: middle

.tel-b__number
	display: block
	font-family: EtelkaReg
	font-size: 30px
	line-height: 36px
	color: #37329d
	transition: 0.5s ease 0s

	&:hover
		color: #839fcc
		text-decoration: none

.search-b
	padding: 10px 30px 0 30px
	display: inline-block
	vertical-align: top

.search-b__entry-field-wrap
	position: relative

.search-b__entry-field
	min-height: 38px
	padding-right: 35px
	border: 1px solid #3073b6
	-webkit-border-radius: 10px
	-moz-border-radius: 10px
	border-radius: 10px
	color: #828282

.search-b__btn
	border: none
	background: none
	outline: none
	position: absolute
	top: 50%
	margin-top: -15px
	right: 10px

.links-b
	max-width: 220px
	padding: 10px 0 0 35px
	display: inline-block
	vertical-align: top

.menu
	height: 80px
	padding: 0
	margin: 0
	border: none
	-webkit-border-radius: 0
	-moz-border-radius: 0
	border-radius: 0
	background: none

.menu__panel
	padding: 0

.menu__item-left
	min-height: 80px
	padding: 20px 17px
	position: relative

	&:before
		width: 2px
		height: 56px
		margin-top: -28px
		background: #3c84cc
		border-right: 1px solid #2d6baa
		position: absolute
		top: 50%
		left: 0
		content: ""

	&:last-child
		&:after
			width: 2px
			height: 56px
			margin-top: -28px
			background: #3c84cc
			border-right: 1px solid #2d6baa
			position: absolute
			top: 50%
			right: 0
			content: ""

.menu__list-right
	margin: 0

.menu__item-right
	padding: 20px 20px
	position: relative

	&:before
		width: 270px
		height: 90px
		margin-top: -45px
		background: #37329d
		position: absolute
		top: 50%
		right: 0
		content: ""

.menu__link
	padding: 0 !important
	font-family: EtelkaReg
	font-size: 17px
	font-weight: normal !important
	line-height: 38px !important
	color: #fff !important

	&:hover
		color: #371794 !important

	&_left-big
		line-height: 20px !important

	&_right
		font-size: 20px
		position: relative

		&:hover
			color: #839fcc !important

.menu__ico
	width: 30px
	height: 30px
	margin-right: 15px
	display: inline-block !important
	vertical-align: middle

.menu__ico-home
	+sprite(home)

.menu__ico-doc
	+sprite(doc)

.menu__ico-man
	+sprite(man)

.menu__ico-mail
	+sprite(mail)

.menu__ico-tablet-folder
	+sprite(tablet-folder)

.menu__text
	display: inline-block
	vertical-align: middle
	text-decoration: underline

.achievement-b
	width: 154px
	height: 90px
	padding: 5px 10px
	background: linear-gradient(to bottom, #ffffff, #cee0f2)
	border: 3px solid #3073b6
	text-align: center
	color: #3073b6

.slider-b
	.owl-theme
		padding: 70px 0 10px 0

		.owl-carousel__item
			padding: 0 110px

		.owl-nav
			margin: 0

			div
				margin: 0
				background: none
				font-size: 0

				&:hover
					border-color: #393185
					background: none

				.disabled
					background: none

			.owl-prev
				width: 60px
				height: 60px
				margin-top: -40px
				border-right: 5px solid #909090
				border-bottom: 5px solid #909090
				position: absolute
				top: 50%
				left: 11px
				transform: rotate(135deg)

			.owl-next
				width: 60px
				height: 60px
				margin-top: -40px
				border-right: 5px solid #909090
				border-bottom: 5px solid #909090
				position: absolute
				top: 50%
				right: 11px
				transform: rotate(-45deg)

		.owl-dots
			height: 0
			display: block
			overflow: hidden

.slider-b__row
	padding-top: 30px

.slider-b__list
	padding: 0
	margin: 0
	display: inline-block
	list-style: none

.slider-b__item
	padding-right: 100px
	display: inline-block
	position: relative
	font-family: FRADM
	font-size: 60px
	line-height: 60px
	color: #cee0f2

	&_left
		&:last-child
			padding-right: 30px

	&_right
		&:last-child
			padding-right: 60px

.slider-b__small-text
	display: inline-block
	position: absolute
	top: 50%
	margin-top: -8px
	font-family: EtelkaReg
	font-size: 15px
	line-height: 16px

.slider-b__ico-arrow-right
	position: absolute
	top: 50%
	right: 25px
	transform: translateY(-50%)
	+sprite(arrow-right)

.slider-b__link
	display: inline-block
	padding-top: 10px
	margin-right: 30px
	border-bottom: 2px solid #3073b6
	vertical-align: top
	font-family: EtelkaReg
	font-size: 30px
	line-height: 36px
	color: #3073b6
	cursor: pointer

.imp-b
	padding-top: 35px
	padding-bottom: 50px

.subscribe-b
	width: 400px
	float: right

.subscribe-b__entry-field
	width: 210px
	height: 37px
	margin-right: 10px
	display: inline-block
	-webkit-border-radius: 10px
	-moz-border-radius: 10px
	border-radius: 10px

.section
	padding-top: 40px
	padding-bottom: 35px

.way-b__list
	padding: 15px 0 0 0
	margin: 0
	list-style: none
	font-size: 0

.way-b__item
	padding-right: 20px
	display: inline-block
	vertical-align: top
	position: relative

	&:after
		position: absolute
		top: 50%
		right: 8px
		font-size: 13px
		line-height: 1px
		content: "-"

	&:last-child
		padding-right: 0

		&:after
			content: ""

.way-b__link
	display: inline-block
	font-family: EtelkaReg
	font-size: 13px
	line-height: 16px
	color: #37329d
	text-decoration: underline
	+trans()

	&:hover
		color: #3073b6

.filter-b
	padding-top: 15px
	border-top: 1px solid #aaaaaa

.filter-b__list
	width: 100%
	padding: 0
	margin: 0
	list-style: none

.filter-b__item
	margin-right: 40px
	display: inline-block
	vertical-align: top

.filter-b__link
	text-decoration: underline
	font-family: EtelkaReg
	font-size: 16px
	color: #37329d


.catalog-b__item
	padding: 15px
	border: 1px solid #cccccc

.catalog-b__link
	display: block

.catalog-b__text-box
	padding: 0 5px

.example-b
	> div
		border-bottom: 1px solid #cccccc

	> div:first-child
		border-top: 1px solid #cccccc

.example-b__row
	padding-top: 20px
	padding-bottom: 20px

.example-b__left-b
	padding-left: 0
	font-family: EtelkaReg
	font-size: 20px
	color: #37329d

.charact-table
	width: 100%
	margin-bottom: 45px
	font-family: EtelkaReg
	font-size: 15px

.charact-table__sell
	padding: 10px 0

	&_left
		padding-right: 10px

	&_last
		padding-bottom: 40px

.charact-table__row-border
	border-top: 1px solid #aaaaaa
	border-bottom: 1px solid #aaaaaa

.photo-b__bottom-b
	margin-left: -5px
	margin-right: -5px

.photo-b__link-wrap
	padding: 0 5px 10px 5px

.photo-b__img-link
	width: 100%
	border: 1px solid #cccccc
	display: block
	overflow: hidden

	&_main
		margin-bottom: 10px

.photo-b__img
	width: 100%
	height: auto
	font-size: 0

.photo-b__img-second-b
	width: 100%
	font-size: 0

.contacts-info-b
	width: 100%
	padding: 20px
	background: #3073b6
	word-wrap: break-word

.footer
	padding: 35px 0 45px 0
	background: #37329d

.footer__list
	padding: 25px 0 0 0
	margin: 0
	list-style: none

.soc-b
	padding: 60px 0 0 0
	list-style: none
	font-size: 0

.soc-b__item
	display: inline-block

.soc-b__link
	min-width: 32px
	min-height: 32px
	margin-right: 5px
	display: block

.soc-b__ico-instagram
	+sprite(instagram)

.soc-b__ico-vk
	+sprite(vk)

.soc-b__ico-classmates
	+sprite(classmates)

.soc-b__ico-mail-ru
	+sprite(mail-ru)

.soc-b__ico-f
	+sprite(f)

.soc-b__ico-twitter
	+sprite(twitter)

.soc-b__ico-g-plus
	+sprite(g-plus)





.mb-0
	margin-bottom: 0 !important

.mb-5
	margin-bottom: 5px

.mb-10
	margin-bottom: 10px

.mb-15
	margin-bottom: 15px !important

.mb-20
	margin-bottom: 20px

.mb-25
	margin-bottom: 25px

.mb-30
	margin-bottom: 30px

.mb-35
	margin-bottom: 35px

.mb-40
	margin-bottom: 40px !important

.mb-45
	margin-bottom: 45px

.mb-50
	margin-bottom: 50px

.mb-55
	margin-bottom: 55px

.mb-65
	margin-bottom: 65px !important

.p-0
	padding: 0

.ptb-20
	padding-top: 20px
	padding-bottom: 20px

.plr-10
	padding-left: 10px
	padding-right: 10px

.plr-50
	padding-left: 50px
	padding-right: 50px

.pb-170
	padding-bottom: 170px

.text-purple
	color: #37329d

.text-white
	color: #fff

.text-bold
	font-family: EtelkaBol !important

.text-min-big
	font-size: 20px
	line-height: 24px

.text-big
	font-size: 25px
	line-height: 37px

.text-very-big
	font-size: 30px
	line-height: 36px

.text-small
	font-family: EtelkaReg
	font-size: 12px

.text-middle
	font-family: EtelkaReg
	font-size: 15px
	line-height: 18px

.h2
	margin: 0
	font-family: EtelkaReg
	font-size: 45px

	&_small
		font-size: 35px

.h3
	margin-top: 0
	font-family: EtelkaBol
	font-size: 25px
	line-height: 30px

.h4
	margin-bottom: 15px
	font-family: EtelkaBol
	font-size: 20px

.h5
	margin: 0 0 20px 0
	font-family: EtelkaBol
	font-size: 20px
	line-height: 24px

.h6
	margin: 0 0 20px 0
	font-family: EtelkaBol
	font-size: 15px
	line-height: 18px

.list-content
	padding-left: 20px
	margin-bottom: 20px
	list-style: none

	& > li
		position: relative

		&:before
			content: "-"
			position: absolute
			top: 0
			left: -10px

.link
	text-decoration: underline
	transition: 0.5s ease 0s

	&_blue
		display: block
		color: #3072b6

		&-small-bol
			font-family: EtelkaBol
			font-size: 15px
			line-height: 18px

		&-medium-reg
			font-family: EtelkaReg
			font-size: 16px
			line-height: 19px

		&-medium-bol
			text-decoration: none
			font-family: EtelkaBol
			font-size: 20px
			line-height: 24px


		&-big-bol
			font-family: EtelkaBol
			font-size: 30px
			line-height: 36px

		&:hover
			color: #37329d

	&_white
		display: inline-block
		font-family: EtelkaReg
		font-size: 15px
		color: #fff

		&-tel
			text-decoration: none

button.btn,
a.btn
	padding: 0 10px
	display: inline-block
	vertical-align: top
	font-family: EtelkaReg
	font-size: 20px
	color: #fff

	&_square
		width: 370px
		line-height: 50px
		-webkit-border-radius: 0
		-moz-border-radius: 0
		border-radius: 0

		&-small
			width: 100%
			padding: 15px
			font-family: EtelkaBol
			font-size: 15px
			line-height: 18px
			white-space: pre-wrap

	&_br
		width: 170px
		line-height: 35px
		-webkit-border-radius: 10px
		-moz-border-radius: 10px
		border-radius: 10px

	&_purple
		background: #37329d

		&:hover,
		&:focus
			background: #3e39ac
			color: #fff

		&:active
			background: #302c89
			color: #fff

		&:visited
			background: #37329d

			&:hover,
			&:focus
				background: #3e39ac
				color: #fff

			&:active
				background: #302c89
				color: #fff

	&_blue
		background: #3073b6

		&:hover,
		&:focus
			background: #3581cd
			color: #fff

		&:active
			background: #2b639b
			color: #fff

		&:visited
			background: #3073b6

			&:hover,
			&:focus
				background: #3581cd
				color: #fff

			&:active
				background: #2b639b
				color: #fff

.img-increasing
	width: 100%
	max-width: 590px
	height: auto

.line-vertical-gray
	position: relative

	&:before
		height: 95px
		border-right: 1px solid #aaaaaa
		position: absolute
		top: 0
		left: 0
		content: ""

.line-gorizontal-gray
	padding-bottom: 30px
	margin-bottom: 35px
	border-bottom: 1px solid #aaaaaa

.blue
	width: 100%
	background: #3073b6

.light-blue
	width: 100%
	padding: 30px 0
	background: #cee0f2