{% extends "layouts/app.twig" %}

{% block content %}
    <section class="nav-b">
        <div class="container">
            <ul class="nav-b__list">
                <li class="nav-b__item"><a class="nav-b__link" href="#">Главная</a></li>
                <li class="nav-b__item"><a class="nav-b__link" href="#">Все лоты</a></li>
                <li class="nav-b__item"><a class="nav-b__link" href="#">Mercedes-Benz GL 450 2007 г.</a></li>
            </ul>
        </div>
    </section>
    <section class="section pb-170">
        <div class="container">
            <h2 class="h2 text-purple text-center mb-65">Mercedes-Benz GL 450 2007 г. </h2>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-5 photo-b">
                    <a class="photo-b__img-link photo-b__img-link_main" href="#">
                        <img class="photo-b__img-main" src="images/mersedes-benz-gl-450.jpg">
                    </a>
                    <a class="photo-b__img-link photo-b__img-link_second" href="#">
                        <img class="photo-b__img-main" src="images/mersedes-benz-gl-450.jpg">
                    </a>
                </div>
                <div class="col-lg-3">
                    <div class="contacts-info-b"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}