{% extends "layouts/app.twig" %}

{% block content %}
    <section class="nav-b">
        <div class="container">
            <ul class="nav-b__list">
                <li class="nav-b__item"><a class="nav-b__link" href="#">Главная</a></li>
                <li class="nav-b__item"><a class="nav-b__link" href="#">Больше лотов</a></li>
            </ul>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="h2 text-purple text-center mb-25">Новые лоты</h2>
            <div class="filter-b mb-40">
                <ul class="filter-b__list text-center">
                    <li class="filter-b__item"><a class="filter-b__link" href="#">Новые лоты</a></li>
                    <li class="filter-b__item"><a class="filter-b__link" href="#">Автомобили</a></li>
                    <li class="filter-b__item"><a class="filter-b__link" href="#">Недвижимость</a></li>
                    <li class="filter-b__item"><a class="filter-b__link" href="#">Фильтровать</a></li>
                </ul>
            </div>
            <div class="row catalog-b mb-50">
                <div class="col-lg-3">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link mb-15" href="#">
                            <img src="images/nissan-almera.jpg">
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">Цена за обязательство:<br>
                                <span class="text-bold">1 105 000.00 KZT</span><br>
                                Вознаграждение: <span class="text-bold">2%</span><br>
                                Ежемесячный доход:<br>
                                <span class="text-bold">22 100 KZT</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link mb-15" href="#">
                            <img src="images/nissan-almera.jpg">
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">Цена за обязательство:<br>
                                <span class="text-bold">1 105 000.00 KZT</span><br>
                                Вознаграждение: <span class="text-bold">2%</span><br>
                                Ежемесячный доход:<br>
                                <span class="text-bold">22 100 KZT</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link mb-15" href="#">
                            <img src="images/nissan-almera.jpg">
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">Цена за обязательство:<br>
                                <span class="text-bold">1 105 000.00 KZT</span><br>
                                Вознаграждение: <span class="text-bold">2%</span><br>
                                Ежемесячный доход:<br>
                                <span class="text-bold">22 100 KZT</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link mb-15" href="#">
                            <img src="images/nissan-almera.jpg">
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">Цена за обязательство:<br>
                                <span class="text-bold">1 105 000.00 KZT</span><br>
                                Вознаграждение: <span class="text-bold">2%</span><br>
                                Ежемесячный доход:<br>
                                <span class="text-bold">22 100 KZT</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row catalog-b mb-50">
                <div class="col-lg-3">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link mb-15" href="#">
                            <img src="images/nissan-almera.jpg">
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">Цена за обязательство:<br>
                                <span class="text-bold">1 105 000.00 KZT</span><br>
                                Вознаграждение: <span class="text-bold">2%</span><br>
                                Ежемесячный доход:<br>
                                <span class="text-bold">22 100 KZT</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link mb-15" href="#">
                            <img src="images/nissan-almera.jpg">
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">Цена за обязательство:<br>
                                <span class="text-bold">1 105 000.00 KZT</span><br>
                                Вознаграждение: <span class="text-bold">2%</span><br>
                                Ежемесячный доход:<br>
                                <span class="text-bold">22 100 KZT</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link mb-15" href="#">
                            <img src="images/nissan-almera.jpg">
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">Цена за обязательство:<br>
                                <span class="text-bold">1 105 000.00 KZT</span><br>
                                Вознаграждение: <span class="text-bold">2%</span><br>
                                Ежемесячный доход:<br>
                                <span class="text-bold">22 100 KZT</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link mb-15" href="#">
                            <img src="images/nissan-almera.jpg">
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">Цена за обязательство:<br>
                                <span class="text-bold">1 105 000.00 KZT</span><br>
                                Вознаграждение: <span class="text-bold">2%</span><br>
                                Ежемесячный доход:<br>
                                <span class="text-bold">22 100 KZT</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrap text-center">
                <a class="btn btn_square btn_purple" href="#">Все лоты</a>
            </div>
        </div>
    </section>
    <section class="blue">
        <div class="container ptb-20">
            <div class="subscribe-b">
                <form>
                    <input class="form-control subscribe-b__entry-field" placeholder="Ваш e-mail">
                    <button class="btn btn_br btn_purple">Подписаться</button>
                </form>
            </div>
            <p class="text-very-big text-bold text-white mb-0">Каждый месяц более 1000 новых лотов</p>
        </div>
    </section>
{% endblock %}