{% extends "layouts/app.twig" %}

{% block content %}
    <section class="way-b">
        <div class="container">
            <ul class="way-b__list">
                <li class="way-b__item"><a class="way-b__link" href="#">Главная</a></li>
                <li class="way-b__item">Больше лотов</li>
            </ul>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="h2 h2_mb-20 text-purple text-center">Новые лоты</h2>
            <div class="filter-b">
                <ul class="filter-b__list text-center">
                    <li class="filter-b__item"><a class="filter-b__link" href="#">Новые лоты</a></li>
                    <li class="filter-b__item"><a class="filter-b__link" href="#">Автомобили</a></li>
                    <li class="filter-b__item"><a class="filter-b__link" href="#">Недвижимость</a></li>
                    <li class="filter-b__item"><a class="filter-b__link" href="#">Фильтровать</a></li>
                </ul>
            </div>
            <div class="row catalog-b">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 catalog-b__item-wrap">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link-img" href="#">
                            <div class="prop-content" style="background: url('images/nissan-almera-1.jpg') center, center; background-size: cover;"></div>
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Цена за обязательство:</span> <span class="d-ib text-bold d-ib">1 105 000.00 KZT</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Вознаграждение:</span> <span class="d-ib text-bold">2%</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Ежемесячный доход: <span class="d-ib text-bold">22 100 KZT</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 catalog-b__item-wrap">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link-img" href="#">
                            <div class="prop-content" style="background: url('images/nissan-almera-2.jpg') center, center; background-size: cover;"></div>
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Цена за обязательство:</span> <span class="d-ib text-bold d-ib">1 105 000.00 KZT</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Вознаграждение:</span> <span class="d-ib text-bold">2%</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Ежемесячный доход: <span class="d-ib text-bold">22 100 KZT</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 catalog-b__item-wrap">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link-img" href="#">
                            <div class="prop-content" style="background: url('images/nissan-almera-3.jpg') center, center; background-size: cover;"></div>
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Цена за обязательство:</span> <span class="d-ib text-bold d-ib">1 105 000.00 KZT</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Вознаграждение:</span> <span class="d-ib text-bold">2%</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Ежемесячный доход: <span class="d-ib text-bold">22 100 KZT</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 catalog-b__item-wrap">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link-img" href="#">
                            <div class="prop-content" style="background: url('images/nissan-almera-1.jpg') center, center; background-size: cover;"></div>
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Цена за обязательство:</span> <span class="d-ib text-bold d-ib">1 105 000.00 KZT</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Вознаграждение:</span> <span class="d-ib text-bold">2%</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Ежемесячный доход: <span class="d-ib text-bold">22 100 KZT</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 catalog-b__item-wrap">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link-img" href="#">
                            <div class="prop-content" style="background: url('images/nissan-almera-1.jpg') center, center; background-size: cover;"></div>
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Цена за обязательство:</span> <span class="d-ib text-bold d-ib">1 105 000.00 KZT</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Вознаграждение:</span> <span class="d-ib text-bold">2%</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Ежемесячный доход: <span class="d-ib text-bold">22 100 KZT</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 catalog-b__item-wrap">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link-img" href="#">
                            <div class="prop-content" style="background: url('images/nissan-almera-2.jpg') center, center; background-size: cover;"></div>
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Цена за обязательство:</span> <span class="d-ib text-bold d-ib">1 105 000.00 KZT</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Вознаграждение:</span> <span class="d-ib text-bold">2%</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Ежемесячный доход: <span class="d-ib text-bold">22 100 KZT</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 catalog-b__item-wrap">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link-img" href="#">
                            <div class="prop-content" style="background: url('images/nissan-almera-3.jpg') center, center; background-size: cover;"></div>
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Цена за обязательство:</span> <span class="d-ib text-bold d-ib">1 105 000.00 KZT</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Вознаграждение:</span> <span class="d-ib text-bold">2%</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Ежемесячный доход: <span class="d-ib text-bold">22 100 KZT</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 catalog-b__item-wrap">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link-img" href="#">
                            <div class="prop-content" style="background: url('images/nissan-almera-1.jpg') center, center; background-size: cover;"></div>
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Цена за обязательство:</span> <span class="d-ib text-bold d-ib">1 105 000.00 KZT</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Вознаграждение:</span> <span class="d-ib text-bold">2%</span>
                            </p>
                            <p class="text-middle mb-0">
                                <span class="d-ib">Ежемесячный доход: <span class="d-ib text-bold">22 100 KZT</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrap text-center">
                <a class="btn btn_square btn_purple" href="#">Больше лотов</a>
            </div>
        </div>
    </section>
    <section class="blue">
        <div class="container ptb-15">
            <div class="subscribe-b">
                <form>
                    <input class="form-control subscribe-b__entry-field" placeholder="Ваш e-mail">
                    <button class="btn btn_br btn_purple" type="submit">Подписаться</button>
                </form>
            </div>
            <div class="text-mod-1020">
                <p class="text-very-big text-white mb-0">Каждый месяц <span class="text-bold">более 1000</span> новых лотов</p>
            </div>
        </div>
    </section>
{% endblock %}