{% extends "layouts/app.twig" %}

{% block content %}
    <section class="light-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 p-0 text-center">
                    <img class="img-increasing mb-30-sm" src="images/lux.png">
                </div>
                <div class="col-md-6 col-xs-12">
                    <h2 class="h2 h2_small text-purple mb-15">Что Вам дает <span class="text-bold">БИРЖА</span></h2>
                    <h6 class="h6">Продажа контрактов на бирже позволяет ломбардам:</h6>
                    <ul class="list-content text-middle">
                        <li>Быстро и оперативно пополнять капитал для выдачи дальнейших займов.
                        <li>Получать больше процентов с одной и той же суммы денег путем ее
                        многократной выдачи.
                    </ul>
                    <h6 class="h6">Приобретение контрактов на Бирже позволяет покупателям:</h6>
                    <ul class="list-content text-middle">
                        <li>Получать до 25% годовых прибыли с вложенных денег.
                        <li>Возникает шанс приобрести авто за цену ниже рыночной.
                        <li>Ваши вложения обеспечены залогом транспортного средства, поэтому риск денежных потерь минимален.
                    </ul>
                    <div class="row achievement-b-wrap">
                        <div class="col-sm-4 mb-30-sm">
                            <div class="achievement-b">
                                <p class="text-small mb-5">количество<br>проданных лотов</p>
                                <p class="text-big text-bold mb-0">55</p>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-30-sm">
                            <div class="achievement-b ">
                                <p class="text-small mb-5">сумма<br>проданных лотов</p>
                                <p class="text-big text-bold mb-0">1 825$</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="achievement-b mb-30-sm">
                                <p class="text-small mb-5">сумма заработанного<br>вознаграждения</p>
                                <p class="text-big text-bold mb-0">125 850$</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="blue">
            <div class="container text-center ptb-15">
                <h2 class="h2 text-white">Как <span class="text-bold">БИРЖА</span> работает?</h2>
            </div>
        </div>
        <div class="container">
            <div class="slider-b">
                <div class="row slider-b__row">
                    <div class="col-lg-6 text-center-md">
                        <p class="slider-b__steps">Шаги:</p>
                        <ul class="slider-b__list">
                            <li class="slider-b__item slider-b__item_left active" data-slide="0">
                                <span class="slider-b__control slider-b__control_left">1<span class="slider-b__small-text slider-b__small-text_first">шаг</span></span>
                            </li>
                            <li class="slider-b__item slider-b__item_left" data-slide="1">
                                <span class="slider-b__control slider-b__control_left">2<span class="slider-b__small-text">шаг</span></span>
                            </li>
                            <li class="slider-b__item slider-b__item_left" data-slide="2">
                                <span class="slider-b__control slider-b__control_left">3<span class="slider-b__small-text">шаг</span></span>
                            </li>
                            <li class="slider-b__item slider-b__item_left" data-slide="3">
                                <span class="slider-b__control slider-b__control_left">4<span class="slider-b__small-text">шаг</span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 text-center-md">
                        <span class="slider-b__link">В случае неоплаты:</span>
                        <ul class="slider-b__list">
                            <li class="slider-b__item slider-b__item_right" data-slide="4"><span class="slider-b__control slider-b__control_right">1<span class="slider-b__small-text">вариант</span></span></li>
                            <li class="slider-b__item slider-b__item_right" data-slide="5"><span class="slider-b__control slider-b__control_right">2<span class="slider-b__small-text">вариант</span></span></li>
                        </ul>
                    </div>
                </div>
                <div class="owl-carousel-wrap mb-30">
                    <div class="owl-nav-imit">
                        <span class="owl-prev-imit"></span>
                        <span class="owl-next-imit"></span>
                    </div>
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        <div class="owl-carousel__item"><img class="owl-carousel__img" src="images/step-1.jpg" alt="Шаг 1"></div>
                        <div class="owl-carousel__item"><img class="owl-carousel__img" src="images/step-2.jpg" alt="Шаг 2"></div>
                        <div class="owl-carousel__item"><img class="owl-carousel__img" src="images/step-3.jpg" alt="Шаг 3"></div>
                        <div class="owl-carousel__item"><img class="owl-carousel__img" src="images/step-4.jpg" alt="Шаг 4"></div>
                        <div class="owl-carousel__item"><img class="owl-carousel__img" src="images/variant-1.jpg" alt="Вариант 1"></div>
                        <div class="owl-carousel__item"><img class="owl-carousel__img" src="images/variant-2.jpg" alt="Вариант 2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blue">
            <div class="container imp-b text-center text-white">
                <p class="h2 text-bold mb-40">ВАЖНО!</p>
                <p class="text-middle mb-20 ">Вы не покупаете имущество Должника (автомашину, недвижимость), Вы покупаете права Ломбарда на выплату Должником суммы Договора займа и вознаграждения по нему!</p>
                <p class="text-middle mb-55">Если Должник выкупил имущество у Ломбарда Вы не получаете право на продажу имущества должника (вместе с Ломбардом или без него), но при этом Вы заработали проценты за все время сотрудничества и получили свои вложенные средства обратно.</p>
                <p class="text-very-big text-bold mb-35">Если должник не выкупил имущество у Ломбарда<br>(один из трех вариантов в зависимости от заключенного договора цессии):</p>
                <div class="row">
                    <div class="col-lg-4 plr-50 mb-60-md">
                        <i class="ico ico-property mb-10"></i>
                        <p class="text-middle">Вы получаете имущество должника, но при этом оплачиваете понесенные Ломбардом расходы (офромление, полученные проценты).</p>
                    </div>
                    <div class="col-lg-4 plr-50 mb-60-md">
                        <i class="ico ico-fifty-fifty mb-10"></i>
                        <p class="text-middle">Вы получаете проценты за все время договора цессии и совместно с Ломбардом продаете имущество Должника на условиях 50/50 или пропорционально затраченных усилий. </p>
                    </div>
                    <div class="col-lg-4 plr-50">
                        <i class="ico ico-percents mb-10"></i>
                        <p class="text-middle">Вы получаете проценты за все время договора цессии и вправе отказаться от своего права на продажу имущества Должника, если Вы деловой человек и не заинтересованы в трате собственного времени на продажу чужого имущества. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="h2 text-bold text-purple text-center mb-40">НОВЫЕ ЛОТЫ</h2>
            <div class="row catalog-b">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 catalog-b__item-wrap">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link-img" href="#">
                            <div class="prop-content" style="background: url('images/nissan-almera-1.jpg') center, center; background-size: cover;"></div>
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">Цена за обязательство:<br>
                                <span class="text-bold">1 105 000.00 KZT</span><br>
                                Вознаграждение: <span class="text-bold">2%</span><br>
                                Ежемесячный доход:<br>
                                <span class="text-bold">22 100 KZT</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 catalog-b__item-wrap">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link-img" href="#">
                            <div class="prop-content" style="background: url('images/nissan-almera-2.jpg') center, center; background-size: cover;"></div>
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">Цена за обязательство:<br>
                                <span class="text-bold">1 105 000.00 KZT</span><br>
                                Вознаграждение: <span class="text-bold">2%</span><br>
                                Ежемесячный доход:<br>
                                <span class="text-bold">22 100 KZT</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 catalog-b__item-wrap">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link-img" href="#">
                            <div class="prop-content" style="background: url('images/nissan-almera-3.jpg') center, center; background-size: cover;"></div>
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">Цена за обязательство:<br>
                                <span class="text-bold">1 105 000.00 KZT</span><br>
                                Вознаграждение: <span class="text-bold">2%</span><br>
                                Ежемесячный доход:<br>
                                <span class="text-bold">22 100 KZT</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 catalog-b__item-wrap">
                    <div class="catalog-b__item">
                        <a class="catalog-b__link-img" href="#">
                            <div class="prop-content" style="background: url('images/nissan-almera-1.jpg') center, center; background-size: cover;"></div>
                        </a>
                        <div class="catalog-b__text-box">
                            <a class="catalog-b__link" href="#">
                                <h6 class="h6 text-purple mb-15">Nissan Almera 2015 г.</h6>
                            </a>
                            <p class="text-middle mb-0">Цена за обязательство:<br>
                                <span class="text-bold">1 105 000.00 KZT</span><br>
                                Вознаграждение: <span class="text-bold">2%</span><br>
                                Ежемесячный доход:<br>
                                <span class="text-bold">22 100 KZT</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrap text-center">
                <a class="btn btn_square btn_purple" href="#">Все лоты</a>
            </div>
        </div>
    </section>
    <section class="blue">
        <div class="container ptb-15">
            <div class="subscribe-b">
                <form>
                    <input class="form-control subscribe-b__entry-field" placeholder="Ваш e-mail">
                    <button class="btn btn_br btn_purple">Подписаться</button>
                </form>
            </div>
            <div class="text-mod-1020">
                <p class="text-very-big text-white mb-0">Каждый месяц <span class="text-bold">более 1000</span> новых лотов</p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="h2 text-purple text-center mb-40">Новости и статьи</h2>
            <div class="row mb-45">
                <div class="col-md-4 col-sm-6 news-b">
                    <div class="date-b">
                        <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    </div>
                    <a class="news-b__link" href="#">
                        <h5 class="h5">Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p class="text-middle mb-15">Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a class="link link_blue-small-bol" href="#">Подробнее</a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="date-b">
                        <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    </div>
                    <a class="news-b__link" href="#">
                        <h5 class="h5">Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p class="text-middle mb-15">Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a class="link link_blue-small-bol" href="#">Подробнее</a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="date-b">
                        <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    </div>
                    <a class="news-b__link" href="#">
                        <h5 class="h5">Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p class="text-middle mb-15">Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a class="link link_blue-small-bol" href="#">Подробнее</a>
                </div>
            </div>
            <div class="btn-wrap text-center">
                <a class="btn btn_square btn_blue" href="#">Больше материалов</a>
            </div>
        </div>
    </section>
{% endblock %}