{% extends "layouts/app.twig" %}

{% block content %}
    <section class="way-b">
        <div class="container">
            <ul class="way-b__list">
                <li class="way-b__item"><a class="way-b__link" href="#">Главная</a></li>
                <li class="way-b__item">Новости и статьи</li>
            </ul>
        </div>
    </section>
    <section class="section section_news">
        <div class="container">
            <div class="mb-30">
                <h2 class="h2 text-purple text-center">Новости и статьи</h2>
            </div>
            <div class="row mb-15">
                <div class="col-md-4 col-sm-6 news-b news-b_news-page">
                    <div class="date-b">
                        <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    </div>
                    <a class="news-b__link" href="#">
                        <h5 class="h5">Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p class="text-middle mb-15">Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a class="link link_blue-small-bol" href="#">Подробнее</a>
                </div>
                <div class="col-md-4 col-sm-6 news-b news-b_news-page">
                    <div class="date-b">
                        <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    </div>
                    <a class="news-b__link" href="#">
                        <h5 class="h5">Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p class="text-middle mb-15">Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a class="link link_blue-small-bol" href="#">Подробнее</a>
                </div>
                <div class="col-md-4 col-sm-6 news-b news-b_news-page">
                    <div class="date-b">
                        <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    </div>
                    <a class="news-b__link" href="#">
                        <h5 class="h5">Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p class="text-middle mb-15">Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a class="link link_blue-small-bol" href="#">Подробнее</a>
                </div>
                <div class="col-md-4 col-sm-6 news-b news-b_news-page">
                    <div class="date-b">
                        <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    </div>
                    <a class="news-b__link" href="#">
                        <h5 class="h5">Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p class="text-middle mb-15">Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a class="link link_blue-small-bol" href="#">Подробнее</a>
                </div>
                <div class="col-md-4 col-sm-6 news-b news-b_news-page">
                    <div class="date-b">
                        <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    </div>
                    <a class="news-b__link" href="#">
                        <h5 class="h5">Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p class="text-middle mb-15">Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a class="link link_blue-small-bol" href="#">Подробнее</a>
                </div>
                <div class="col-md-4 col-sm-6 news-b news-b_news-page">
                    <div class="date-b">
                        <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    </div>
                    <a class="news-b__link" href="#">
                        <h5 class="h5">Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p class="text-middle mb-15">Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a class="link link_blue-small-bol" href="#">Подробнее</a>
                </div>
                <div class="col-md-4 col-sm-6 news-b news-b_news-page">
                    <div class="date-b">
                        <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    </div>
                    <a class="news-b__link" href="#">
                        <h5 class="h5">Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p class="text-middle mb-15">Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a class="link link_blue-small-bol" href="#">Подробнее</a>
                </div>
                <div class="col-md-4 col-sm-6 news-b news-b_news-page">
                    <div class="date-b">
                        <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    </div>
                    <a class="news-b__link" href="#">
                        <h5 class="h5">Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p class="text-middle mb-15">Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a class="link link_blue-small-bol" href="#">Подробнее</a>
                </div>
                <div class="col-md-4 col-sm-6 news-b news-b_news-page">
                    <div class="date-b">
                        <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    </div>
                    <a class="news-b__link" href="#">
                        <h5 class="h5">Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p class="text-middle mb-15">Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a class="link link_blue-small-bol" href="#">Подробнее</a>
                </div>
            </div>
            <div class="pagination-b">
                <ul class="paginatinon-b__list">
                    <li class="pagination-b__item">
                        <a class="btn btn_blue btn_blue-disbled btn_square btn_square-pagintation" href="#">&#9001;</a>
                    </li>
                    <li class="pagination-b__item">
                        <a class="btn btn_blue btn_blue-active btn_square btn_square-pagintation" href="#">1</a>
                    </li>
                    <li class="pagination-b__item">
                        <a class="btn btn_blue btn_square btn_square-pagintation" href="#">2</a>
                    </li>
                    <li class="pagination-b__item">
                        <a class="btn btn_blue btn_square btn_square-pagintation" href="#">3</a>
                    </li>
                    <li class="pagination-b__item">
                        <a class="btn btn_blue btn_square btn_square-pagintation" href="#">&#9002;</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}