{% extends "layouts/app.twig" %}

{% block content %}
    <section class="nav-b">
        <div class="container">
            <ul class="way-b__list">
                <li class="way-b__item"><a class="way-b__link" href="#">Главная</a></li>
                <li class="way-b__item"><a class="way-b__link" href="#">Новости и статьи</a></li>
                <li class="way-b__item">Важно для покупателя</li>
            </ul>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="mb-30">
                <h2 class="h2 text-purple text-center">Важно! Покупатель должен помнить всегда!</h2>
            </div>
            <div class="mb-40">
                <p class="text-middle mb-20">1) Вы не покупаете имущество Должника (автомашину, недвижимость), Вы покупаете права Ломбарда на выплату Должником суммы Договора займа и вознаграждения по нему.</p>
                <p class="text-middle mb-20">2) Но если Должник не рассчитался с Ломбардом, то Вы вправе рассчитывать на развитие следующих событий.</p>
            </div>
            <h3 class="text-very-big text-purple text-center mb-20">Примерные варианты окончания отношений с ломбардом</h3>
            <div class="example-b">
                <div class="row example-b__row">
                    <div class="col-lg-4 col-md-4 col-sm-4 example-b__left-b">Должник не выкупил имущество у Ломбарда:</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 text-middle example-b__right-b">По договоренности с Ломбардом: А) Вы получаете проценты за все время договора цессии и вправе самостоятельно продать имущество Должника за любую цену, но при этом оплачиваете понесенные Ломбардом расходы, пени и неустойку Должника по Договору займа; Б) Вы получаете проценты за все время договора цессии и совместно с Ломбардом продаете имущество Должника на условиях 50/50 или пропорционально затраченных усилий. В) Вы получаете проценты за все время договора цессии и вправе отказаться от своего права на продажу имущества Должника, если Вы деловой человек и не заинтересованы в трате собственного времени на продажу чужого имущества.</div>
                </div>
                <div class="row example-b__row">
                    <div class="col-lg-4 col-md-4 col-sm-4 example-b__left-b">Должник выкупил имущество у Ломбарда:</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 text-middle example-b__right-b">Вы не получаете право на продажу имущества должника (вместе с Ломбардом или без него), но при этом Вы заработали проценты за все время сотрудничества и получили свои вложенные средства обратно.</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}