<footer class="footer purple">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-5 col-xs-12 logo-b">
                <a class="logo-b__link" href="#"><i class="ico logo-b__ico-white"></i></a>
                <div class="logo-b__copyright">&#169;2016<br>
                    <a class="link link_white" href="#">Биржа.kz</a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 hidden-xs text-white">
                <ul class="footer__list footer__list_left text-middle">
                    <li class="nav-b__item">
                        <h6 class="h6">Сотрудничество</h6>
                    </li>
                    <li class="nav-b__item">
                        <a class="link link_white" href="#">Продавцу</a>
                    </li>
                    <li class="nav-b__item">
                        <a class="link link_white" href="#">Покупателю</a>
                    </li>
                    <li class="nav-b__item">
                        <a class="link link_white" href="#">Правила биржи</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-12 text-white contacts-b">
                <ul class="footer__list footer__list_right text-middle">
                    <li class="contacts-b__item">
                        <h6 class="h6">Контакты</h6>
                    </li>
                    <li class="contacts-b__item">моб.:
                        <a class="link link_white link_white-tel" href="tel:87079076570">+7 707 907-65-70</a>
                    </li>
                    <li class="contacts-b__item">e-mail:
                        <a class="link link_white" href="mailto:info@биржа.kz">info@биржа.kz</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 col-xs-12 soc-b">
                <ul class="soc-b__list">
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-instagram"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-vk"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-classmates"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-mail-ru"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-f"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-twitter"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-g-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-1 hidden-md hidden-sm hidden-xs">
                <div class="counter-wrap">
                    <img class="mb-20" src="images/counter.png">
                    <img src="images/counter.png">
                </div>
            </div>
        </div>
    </div>
</footer>