<header class="header">
    <div class="container mb-35">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-8 col-xs-12 logo-b">
                <a class="logo-b__link" href="#"><i class="ico logo-b__ico-purple"></i></a>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-4 hidden-xs service-b">
                <div class="tel-b line-vertical-gray">
                    <div class="tel-b__ico-wrap">
                        <i class="ico ico-tel"></i>
                    </div>
                    <div class="tel-b__links">
                        <a class="tel-b__number" href="tel:87079076570">+7 707 907-65-70</a>
                        <a class="link link_blue link_blue-medium-reg" href="#">Заказать звонок</a>
                    </div>
                </div>
                <div class="hidden-md hidden-sm hidden-xs line-vertical-gray search-b">
                    <a class="link link_blue link_blue-medium-reg mb-15" href="#">Вопрос юристу</a>
                    <form>
                        <div class="search-b__entry-field-wrap">
                        <input class="form-control search-b__entry-field" type="text" placeholder="поиск по лотам">
                        <button class="search-b__btn"><i class="ico ico-magnifier"></i></button>
                        </div>
                    </form>
                </div>
                <div class="links-b line-vertical-gray">
                    <a class="link link_blue link_blue-medium-reg mb-10" href="#">Личный кабинет</a>
                    <a class="link link_blue link_blue-medium-reg mb-20" href="#">Регистрация</a>
                    <a class="link link_blue link_blue-medium-reg" href="#">Юридическая помощь</a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default menu">
        <div class="container">
            <div class="row">
                <div class="lots-b">
                    <a class="lots-b__link" href="#">
                        <span class="lots-b__ico-wrap"><i class="menu__ico menu__ico-tablet-folder"></i></span>
                        <span class="menu__text menu__text_big hidden-xs">Просмотреть лоты</span>
                        <span class="menu__text menu__text_big hidden-lg hidden-md hidden-sm">ЛОТЫ</span>
                    </a>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="menu__item-left">
                            <a class="menu__link" href="#">
                                <span class="menu__ico-wrap"><i class="menu__ico menu__ico-home"></i></span>
                                <span class="menu__text grey">Главная</span>
                            </a>
                        </li>
                        <li class="menu__item-left">
                            <a class="menu__link" href="#">
                                <span class="menu__ico-wrap"><i class="menu__ico menu__ico-doc"></i></span>
                                <span class="menu__text menu__text_small">Правила и термины БИРЖИ</span>
                            </a>
                        </li>
                        <li class="menu__item-left">
                            <a class="menu__link" href="#">
                                <span class="menu__ico-wrap"><i class="menu__ico menu__ico-man"></i></span>
                                <span class="menu__text">Продавцу</span>
                            </a>
                        </li>
                        <li class="menu__item-left">
                            <a class="menu__link" href="#">
                                <span class="menu__ico-wrap"><i class="menu__ico menu__ico-man"></i></span>
                                <span class="menu__text">Покупателю</span>
                            </a>
                        </li>
                        <li class="menu__item-left">
                            <a class="menu__link" href="#">
                                <span class="menu__ico-wrap"><i class="menu__ico menu__ico-mail"></i></span>
                                <span class="menu__text">Контакты</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>