<!-- Modal -->
<div class="modal fade" id="modal-call" tabindex="-1" role="dialog" aria-labelledby="call" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal__h5" id="modal-h-call">Заказать звонок</h5>
            </div>
            <div class="modal-body">
                <form>
                    <input class="form-control modal__entry-field" type="text" placeholder="имя">
                    <input class="form-control modal__entry-field" type="text" placeholder="телефон">
                    <button class="btn btn_br btn_purple btn_long" type="submit">Заказать</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-question" tabindex="-1" role="dialog" aria-labelledby="question" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal__h5" id="modal-h-call">Задать вопрос</h5>
            </div>
            <div class="modal-body">
                <form>
                    <input class="form-control modal__entry-field" type="text" placeholder="телефон">
                    <input class="form-control modal__entry-field" type="text" placeholder="e-mail">
                    <textarea class="form-control modal__textarea" title="modal-textarea" placeholder="вопрос" rows="3" maxlength="1000"></textarea>
                    <button class="btn btn_br btn_purple btn_long" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-cabinet" tabindex="-1" role="dialog" aria-labelledby="cabinet" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal__h5" id="modal-h-call">Вход в личный кабинет</h5>
            </div>
            <div class="modal-body">
                <form>
                    <input class="form-control modal__entry-field" type="text" placeholder="Логин">
                    <input class="form-control modal__entry-field" type="text" placeholder="Пароль">
                    <textarea class="form-control modal__textarea" title="modal-textarea" placeholder="вопрос" rows="3" maxlength="1000"></textarea>
                    <button class="btn btn_br btn_purple btn_long" type="submit">Войти</button>
                </form>
            </div>
            <div class="modal-footer">
                <a class="class=link link_blue link_blue-medium-reg" href="#">Забыли пароль?</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-registration" tabindex="-1" role="dialog" aria-labelledby="registration" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal__h5" id="modal-h-call">Регистрация</h5>
            </div>
            <div class="modal-body">
                <form>
                    <input class="form-control modal__entry-field" type="text" placeholder="Имя">
                    <input class="form-control modal__entry-field" type="text" placeholder="Фамилия">
                    <input class="form-control modal__entry-field" type="text" placeholder="Логин">
                    <input class="form-control modal__entry-field" type="text" placeholder="Пароль">
                    <input class="form-control modal__entry-field" type="text" placeholder="Повторите пароль">
                    <input class="form-control modal__entry-field" type="text" placeholder="e-mail">
                    <div class="modal__bnt-wrap">
                        <button class="btn btn_br btn_purple btn_modal" type="submit">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>